DataCenter_Final_GER/AccountTrait/AccountTrait.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/AccountTrait" targetNamespace="https://vezel.dev/novadrop/dc/AccountTrait" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="AccountTrait">
        <xsd:sequence>
            <xsd:element name="PackageList" type="AccountTrait_PackageList" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AccountTrait_PackageList">
        <xsd:sequence>
            <xsd:element name="Package" type="AccountTrait_PackageList_Package" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AccountTrait_PackageList_Package">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="order" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="AccountTrait" type="AccountTrait" />
</xsd:schema>
