DataCenter_Final_RUS/GuildWarData/GuildWarData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/GuildWarData" targetNamespace="https://vezel.dev/novadrop/dc/GuildWarData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="GuildWarData">
        <xsd:sequence>
            <xsd:element name="Acceptable" type="GuildWarData_Acceptable" />
            <xsd:element name="KillPoint" type="GuildWarData_KillPoint" />
            <xsd:element name="RuleVar" type="GuildWarData_RuleVar" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildWarData_Acceptable">
        <xsd:attribute name="toggleCoolTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildWarData_KillPoint">
        <xsd:attribute name="guildMasterKillPoint" type="xsd:int" use="required" />
        <xsd:attribute name="guildMemberKillPoint" type="xsd:int" use="required" />
        <xsd:attribute name="msgKillPoint" type="xsd:int" use="required" />
        <xsd:attribute name="underScoreDraw" type="xsd:int" use="required" />
        <xsd:attribute name="winKillPoint" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildWarData_RuleVar">
        <xsd:attribute name="coolTime" type="xsd:int" use="required" />
        <xsd:attribute name="maxDeclareCount" type="xsd:int" use="required" />
        <xsd:attribute name="maxGetDeclareCount" type="xsd:int" use="required" />
        <xsd:attribute name="preWarCountDown" type="xsd:int" use="required" />
        <xsd:attribute name="preWarPeriod" type="xsd:int" use="required" />
        <xsd:attribute name="traceCoolTime" type="xsd:int" use="required" />
        <xsd:attribute name="traceUiTime" type="xsd:int" use="required" />
        <xsd:attribute name="warPeriod" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="GuildWarData" type="GuildWarData" />
</xsd:schema>
