DataCenter_Final_RUS/PackageExport/PackageExport.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/PackageExport" targetNamespace="https://vezel.dev/novadrop/dc/PackageExport" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="PackageExport">
        <xsd:sequence>
            <xsd:element name="Light" type="PackageExport_Light" />
            <xsd:element name="PathInfo" type="PackageExport_PathInfo" />
            <xsd:element name="Texture" type="PackageExport_Texture" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PackageExport_Light">
        <xsd:sequence>
            <xsd:element name="BackgroundColor" type="PackageExport_Light_BackgroundColor" />
        </xsd:sequence>
        <xsd:attribute name="lightBrightness" type="xsd:float" use="required" />
        <xsd:attribute name="pitch" type="xsd:int" use="required" />
        <xsd:attribute name="roll" type="xsd:int" use="required" />
        <xsd:attribute name="skyBrightness" type="xsd:float" use="required" />
        <xsd:attribute name="yaw" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="PackageExport_Light_BackgroundColor">
        <xsd:attribute name="b" type="xsd:int" use="required" />
        <xsd:attribute name="g" type="xsd:int" use="required" />
        <xsd:attribute name="r" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="PackageExport_PathInfo">
        <xsd:sequence>
            <xsd:element name="Filter" type="PackageExport_PathInfo_Filter" maxOccurs="unbounded" />
            <xsd:element name="PackagePath" type="PackageExport_PathInfo_PackagePath" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="applyPackagePath" type="xsd:boolean" use="required" />
        <xsd:attribute name="path" type="xsd:string" use="required" />
        <xsd:attribute name="skeletalMesh" type="xsd:string" use="required" />
        <xsd:attribute name="staticMesh" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="PackageExport_PathInfo_Filter">
        <xsd:attribute name="path" type="xsd:string" use="required" />
        <xsd:attribute name="str" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="PackageExport_PathInfo_PackagePath">
        <xsd:attribute name="exportSkeletalMesh" type="xsd:boolean" use="required" />
        <xsd:attribute name="exportStaticMesh" type="xsd:boolean" use="required" />
        <xsd:attribute name="exportTexture" type="xsd:boolean" use="required" />
        <xsd:attribute name="path" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="PackageExport_Texture">
        <xsd:attribute name="height" type="xsd:int" use="required" />
        <xsd:attribute name="width" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="PackageExport" type="PackageExport" />
</xsd:schema>
