DataCenter_Final_FRA/SkillData/SkillData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/SkillData" targetNamespace="https://vezel.dev/novadrop/dc/SkillData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="SkillData" dc:keys="huntingZoneId">
        <xsd:sequence>
            <xsd:element name="Skill" type="SkillData_Skill" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="huntingZoneId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill" dc:keys="templateId id">
        <xsd:sequence>
            <xsd:element name="Action" type="SkillData_Skill_Action" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AttackAnimRate" type="SkillData_Skill_AttackAnimRate" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="BattleField" type="SkillData_Skill_BattleField" minOccurs="0" />
            <xsd:element name="Bullet" type="SkillData_Skill_Bullet" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ChargingStageList" type="SkillData_Skill_ChargingStageList" minOccurs="0" />
            <xsd:element name="ConnectSkill" type="SkillData_Skill_ConnectSkill" minOccurs="0" />
            <xsd:element name="Dash" type="SkillData_Skill_Dash" minOccurs="0" />
            <xsd:element name="Defence" type="SkillData_Skill_Defence" minOccurs="0" />
            <xsd:element name="Drain" type="SkillData_Skill_Drain" />
            <xsd:element name="InverseCapture" type="SkillData_Skill_InverseCapture" minOccurs="0" />
            <xsd:element name="Precondition" type="SkillData_Skill_Precondition" />
            <xsd:element name="Projectile" type="SkillData_Skill_Projectile" minOccurs="0" />
            <xsd:element name="Property" type="SkillData_Skill_Property" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="Pulling" type="SkillData_Skill_Pulling" minOccurs="0" />
            <xsd:element name="ShortTel" type="SkillData_Skill_ShortTel" minOccurs="0" />
            <xsd:element name="TargetingList" type="SkillData_Skill_TargetingList" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="UserProjectileCurveMove" type="SkillData_Skill_UserProjectileCurveMove" minOccurs="0" />
            <xsd:element name="WeaponIK" type="SkillData_Skill_WeaponIK" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="applyAttackAnimRate" type="xsd:boolean" />
        <xsd:attribute name="autoUse" type="xsd:boolean" />
        <xsd:attribute name="category" type="xsd:string" use="required" />
        <xsd:attribute name="changeDirToCenter" type="xsd:boolean" use="required" />
        <xsd:attribute name="connectNextSkill" type="xsd:int" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="keepMovingCharge" type="xsd:boolean" />
        <xsd:attribute name="keptMovingCharge" type="xsd:boolean" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="needWeapon" type="xsd:boolean" />
        <xsd:attribute name="nextSkill" type="xsd:int" use="required" />
        <xsd:attribute name="nocTanRate" type="xsd:string" />
        <xsd:attribute name="nocTanUse" type="xsd:int" />
        <xsd:attribute name="parentId" type="xsd:int" />
        <xsd:attribute name="pushtarget" type="xsd:string" use="required" />
        <xsd:attribute name="returnAnimName" type="xsd:string" use="required" />
        <xsd:attribute name="returnAnimSet" type="xsd:string" />
        <xsd:attribute name="showNextSkillTooltip" type="xsd:boolean" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
        <xsd:attribute name="timeRate" type="xsd:float" />
        <xsd:attribute name="totalAtk" type="xsd:string" />
        <xsd:attribute name="totalStk" type="xsd:float" />
        <xsd:attribute name="totalStkPvp" type="xsd:float" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="unionPolicyPoint" type="xsd:int" />
        <xsd:attribute name="unionSkillType" type="xsd:int" />
        <xsd:attribute name="useSkillWhileReaction" type="xsd:boolean" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action">
        <xsd:sequence>
            <xsd:element name="CameraShakeList" type="SkillData_Skill_Action_CameraShakeList" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CameraType" type="SkillData_Skill_Action_CameraType" minOccurs="0" />
            <xsd:element name="CameraZoom" type="SkillData_Skill_Action_CameraZoom" minOccurs="0" />
            <xsd:element name="Cancel" type="SkillData_Skill_Action_Cancel" />
            <xsd:element name="HitCylinderList" type="SkillData_Skill_Action_HitCylinderList" minOccurs="0" />
            <xsd:element name="MoveCylinderList" type="SkillData_Skill_Action_MoveCylinderList" minOccurs="0" />
            <xsd:element name="MoveInvincible" type="SkillData_Skill_Action_MoveInvincible" />
            <xsd:element name="Pending" type="SkillData_Skill_Action_Pending" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SpecialEffectList" type="SkillData_Skill_Action_SpecialEffectList" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="StageList" type="SkillData_Skill_Action_StageList" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_CameraShakeList">
        <xsd:sequence>
            <xsd:element name="CameraShake" type="SkillData_Skill_Action_CameraShakeList_CameraShake" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_CameraShakeList_CameraShake">
        <xsd:attribute name="duration" type="xsd:int" />
        <xsd:attribute name="innerRadius" type="xsd:float" />
        <xsd:attribute name="outerRadius" type="xsd:float" />
        <xsd:attribute name="power" type="xsd:float" />
        <xsd:attribute name="shakeId" type="xsd:int" use="required" />
        <xsd:attribute name="speed" type="xsd:float" />
        <xsd:attribute name="startCondition" type="xsd:string" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
        <xsd:attribute name="startValue" type="xsd:int" />
        <xsd:attribute name="targetType" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_CameraType">
        <xsd:attribute name="duration" type="xsd:float" use="required" />
        <xsd:attribute name="startStageId" type="xsd:int" use="required" />
        <xsd:attribute name="startTime" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="weight" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_CameraZoom">
        <xsd:attribute name="duration" type="xsd:float" use="required" />
        <xsd:attribute name="startTime" type="xsd:float" use="required" />
        <xsd:attribute name="stopOnActionEnd" type="xsd:boolean" use="required" />
        <xsd:attribute name="zoomDistance" type="xsd:float" use="required" />
        <xsd:attribute name="zoomExp" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_Cancel">
        <xsd:attribute name="frontCancelEndTime" type="xsd:int" use="required" />
        <xsd:attribute name="moveCancelStartTime" type="xsd:int" />
        <xsd:attribute name="rearCancelStartTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_HitCylinderList">
        <xsd:sequence>
            <xsd:element name="HitCylinder" type="SkillData_Skill_Action_HitCylinderList_HitCylinder" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_HitCylinderList_HitCylinder">
        <xsd:sequence>
            <xsd:element name="Cylinder" type="SkillData_Skill_Action_HitCylinderList_HitCylinder_Cylinder" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_HitCylinderList_HitCylinder_Cylinder">
        <xsd:attribute name="height" type="xsd:float" use="required" />
        <xsd:attribute name="locAngle" type="xsd:float" use="required" />
        <xsd:attribute name="locDistance" type="xsd:float" use="required" />
        <xsd:attribute name="locZ" type="xsd:float" use="required" />
        <xsd:attribute name="radius" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_MoveCylinderList">
        <xsd:sequence>
            <xsd:element name="MoveCylinder" type="SkillData_Skill_Action_MoveCylinderList_MoveCylinder" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_MoveCylinderList_MoveCylinder">
        <xsd:sequence>
            <xsd:element name="Cylinder" type="SkillData_Skill_Action_MoveCylinderList_MoveCylinder_Cylinder" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_MoveCylinderList_MoveCylinder_Cylinder">
        <xsd:attribute name="height" type="xsd:float" use="required" />
        <xsd:attribute name="locAngle" type="xsd:float" use="required" />
        <xsd:attribute name="locDistance" type="xsd:float" use="required" />
        <xsd:attribute name="locZ" type="xsd:float" use="required" />
        <xsd:attribute name="radius" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_MoveInvincible">
        <xsd:attribute name="endTime" type="xsd:int" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_Pending">
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_SpecialEffectList">
        <xsd:sequence>
            <xsd:element name="Effect" type="SkillData_Skill_Action_SpecialEffectList_Effect" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_SpecialEffectList_Effect">
        <xsd:sequence>
            <xsd:element name="Move" type="SkillData_Skill_Action_SpecialEffectList_Effect_Move" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="posX" type="xsd:float" use="required" />
        <xsd:attribute name="posY" type="xsd:float" use="required" />
        <xsd:attribute name="posZ" type="xsd:float" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_SpecialEffectList_Effect_Move">
        <xsd:attribute name="distance" type="xsd:float" use="required" />
        <xsd:attribute name="duration" type="xsd:float" use="required" />
        <xsd:attribute name="maxHeight" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_StageList">
        <xsd:sequence>
            <xsd:element name="Stage" type="SkillData_Skill_Action_StageList_Stage" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_StageList_Stage">
        <xsd:sequence>
            <xsd:element name="AnimSeq" type="SkillData_Skill_Action_StageList_Stage_AnimSeq" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="Property" type="SkillData_Skill_Action_StageList_Stage_Property" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="movable" type="xsd:boolean" />
        <xsd:attribute name="overrideMovingAnimId" type="xsd:int" />
        <xsd:attribute name="scriptId" type="xsd:int" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_StageList_Stage_AnimSeq">
        <xsd:attribute name="animMotionId" type="xsd:int" />
        <xsd:attribute name="animName" type="xsd:string" use="required" />
        <xsd:attribute name="animRate" type="xsd:float" use="required" />
        <xsd:attribute name="animSet" type="xsd:string" use="required" />
        <xsd:attribute name="bAnimLooping" type="xsd:boolean" use="required" />
        <xsd:attribute name="blendInTime" type="xsd:int" use="required" />
        <xsd:attribute name="duration" type="xsd:int" use="required" />
        <xsd:attribute name="loopingRate" type="xsd:float" />
        <xsd:attribute name="movingAnimName" type="xsd:string" />
        <xsd:attribute name="rootMotionXYRate" type="xsd:float" />
        <xsd:attribute name="rootMotionZRate" type="xsd:float" use="required" />
        <xsd:attribute name="waitAnimName" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_StageList_Stage_Property">
        <xsd:sequence>
            <xsd:element name="LockOn" type="SkillData_Skill_Action_StageList_Stage_Property_LockOn" minOccurs="0" />
            <xsd:element name="MovingCast" type="SkillData_Skill_Action_StageList_Stage_Property_MovingCast" minOccurs="0" />
            <xsd:element name="MovingShot" type="SkillData_Skill_Action_StageList_Stage_Property_MovingShot" minOccurs="0" />
            <xsd:element name="RangeLockOn" type="SkillData_Skill_Action_StageList_Stage_Property_RangeLockOn" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="animControlType" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_StageList_Stage_Property_LockOn">
        <xsd:attribute name="effectId" type="xsd:int" use="required" />
        <xsd:attribute name="launchByMaxTarget" type="xsd:boolean" use="required" />
        <xsd:attribute name="msgId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Action_StageList_Stage_Property_MovingCast" />
    <xsd:complexType name="SkillData_Skill_Action_StageList_Stage_Property_MovingShot" />
    <xsd:complexType name="SkillData_Skill_Action_StageList_Stage_Property_RangeLockOn">
        <xsd:attribute name="maxDistance" type="xsd:float" use="required" />
        <xsd:attribute name="targetingEffectId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_AttackAnimRate">
        <xsd:sequence>
            <xsd:element name="Fast" type="SkillData_Skill_AttackAnimRate_Fast" />
            <xsd:element name="Slow" type="SkillData_Skill_AttackAnimRate_Slow" />
        </xsd:sequence>
        <xsd:attribute name="minimumInterval" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_AttackAnimRate_Fast">
        <xsd:attribute name="downTime" type="xsd:float" use="required" />
        <xsd:attribute name="upTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_AttackAnimRate_Slow">
        <xsd:attribute name="slowDownTime" type="xsd:float" use="required" />
        <xsd:attribute name="upTime" type="xsd:int" use="required" />
        <xsd:attribute name="zeroTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_BattleField">
        <xsd:attribute name="showOverlayMapTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Bullet">
        <xsd:attribute name="beamEffect" type="xsd:boolean" />
        <xsd:attribute name="createTime" type="xsd:float" use="required" />
        <xsd:attribute name="detachTime" type="xsd:float" use="required" />
        <xsd:attribute name="flyingBackDuration" type="xsd:float" />
        <xsd:attribute name="flyingDuration" type="xsd:float" use="required" />
        <xsd:attribute name="projectileHit" type="xsd:boolean" />
        <xsd:attribute name="shotSkill" type="xsd:int" use="required" />
        <xsd:attribute name="startSkill" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ChargingStageList">
        <xsd:sequence>
            <xsd:element name="ChargeStage" type="SkillData_Skill_ChargingStageList_ChargeStage" maxOccurs="unbounded" />
            <xsd:element name="Interval" type="SkillData_Skill_ChargingStageList_Interval" />
            <xsd:element name="OverChargeConnectSkill" type="SkillData_Skill_ChargingStageList_OverChargeConnectSkill" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="costTotalHp" type="xsd:int" use="required" />
        <xsd:attribute name="costTotalMp" type="xsd:int" use="required" />
        <xsd:attribute name="costTotalSt" type="xsd:int" />
        <xsd:attribute name="movable" type="xsd:boolean" use="required" />
        <xsd:attribute name="movingAnimName" type="xsd:string" use="required" />
        <xsd:attribute name="movingAnimRate" type="xsd:float" />
        <xsd:attribute name="startAnimName" type="xsd:string" />
        <xsd:attribute name="startAnimRate" type="xsd:float" />
        <xsd:attribute name="waitAnimName" type="xsd:string" use="required" />
        <xsd:attribute name="waitAnimRate" type="xsd:float" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ChargingStageList_ChargeStage">
        <xsd:attribute name="costHpRate" type="xsd:float" use="required" />
        <xsd:attribute name="costMpRate" type="xsd:float" use="required" />
        <xsd:attribute name="costStRate" type="xsd:float" />
        <xsd:attribute name="duration" type="xsd:float" use="required" />
        <xsd:attribute name="shotSkillId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ChargingStageList_Interval">
        <xsd:attribute name="costHpRate" type="xsd:float" use="required" />
        <xsd:attribute name="costMpRate" type="xsd:float" use="required" />
        <xsd:attribute name="time" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ChargingStageList_OverChargeConnectSkill">
        <xsd:attribute name="redirectSkill" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ConnectSkill">
        <xsd:sequence>
            <xsd:element name="AddAbnormalityConnectSkill" type="SkillData_Skill_ConnectSkill_AddAbnormalityConnectSkill" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AddConnectSkill" type="SkillData_Skill_ConnectSkill_AddConnectSkill" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="redirectSkill" type="xsd:int" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ConnectSkill_AddAbnormalityConnectSkill">
        <xsd:attribute name="abnormalityId" type="xsd:int" use="required" />
        <xsd:attribute name="redirectSkill" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ConnectSkill_AddConnectSkill">
        <xsd:attribute name="redirectSkill" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Dash">
        <xsd:attribute name="dashRedirectSkill" type="xsd:int" use="required" />
        <xsd:attribute name="speed" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Defence">
        <xsd:attribute name="rootMotion" type="xsd:boolean" />
        <xsd:attribute name="successAnimName" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Drain">
        <xsd:attribute name="backSkillId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_InverseCapture">
        <xsd:attribute name="holdTime" type="xsd:float" use="required" />
        <xsd:attribute name="holdingAnim" type="xsd:string" use="required" />
        <xsd:attribute name="movingDuration" type="xsd:float" use="required" />
        <xsd:attribute name="successAnim" type="xsd:string" use="required" />
        <xsd:attribute name="withdrawAnim" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Precondition">
        <xsd:sequence>
            <xsd:element name="Cost" type="SkillData_Skill_Precondition_Cost" />
            <xsd:element name="ExclusiveAbnormality" type="SkillData_Skill_Precondition_ExclusiveAbnormality" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="coolTime" type="xsd:int" use="required" />
        <xsd:attribute name="minLevel" type="xsd:int" />
        <xsd:attribute name="modeChangeMethod" type="xsd:int" use="required" />
        <xsd:attribute name="modeNo" type="xsd:int" use="required" />
        <xsd:attribute name="showCoolTime" type="xsd:int" />
        <xsd:attribute name="unionClass" type="xsd:string" />
        <xsd:attribute name="unionClassEx" type="xsd:string" />
        <xsd:attribute name="unionElite" type="xsd:string" />
        <xsd:attribute name="unionId" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Precondition_Cost">
        <xsd:sequence>
            <xsd:element name="ItemList" type="SkillData_Skill_Precondition_Cost_ItemList" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="hp" type="xsd:int" />
        <xsd:attribute name="mp" type="xsd:int" />
        <xsd:attribute name="st" type="xsd:int" />
        <xsd:attribute name="stRate" type="xsd:float" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Precondition_Cost_ItemList" />
    <xsd:complexType name="SkillData_Skill_Precondition_ExclusiveAbnormality" />
    <xsd:complexType name="SkillData_Skill_Projectile">
        <xsd:sequence>
            <xsd:element name="TargetingList" type="SkillData_Skill_Projectile_TargetingList" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="areaBoxSizeX" type="xsd:int" use="required" />
        <xsd:attribute name="areaBoxSizeY" type="xsd:int" use="required" />
        <xsd:attribute name="areaBoxSizeZ" type="xsd:int" use="required" />
        <xsd:attribute name="instanceShotHit" type="xsd:boolean" />
        <xsd:attribute name="lifeTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList">
        <xsd:sequence>
            <xsd:element name="Targeting" type="SkillData_Skill_Projectile_TargetingList_Targeting" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting">
        <xsd:sequence>
            <xsd:element name="AreaList" type="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList" />
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList">
        <xsd:sequence>
            <xsd:element name="Area" type="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area">
        <xsd:sequence>
            <xsd:element name="Effect" type="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect" />
        </xsd:sequence>
        <xsd:attribute name="maxCount" type="xsd:int" use="required" />
        <xsd:attribute name="maxRadius" type="xsd:float" />
        <xsd:attribute name="offsetAngle" type="xsd:float" />
        <xsd:attribute name="offsetDistance" type="xsd:float" />
        <xsd:attribute name="pierceDepth" type="xsd:int" />
        <xsd:attribute name="rangeAngle" type="xsd:float" />
        <xsd:attribute name="rotateAngle" type="xsd:float" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect">
        <xsd:sequence>
            <xsd:element name="AbnormalityOnCommon" type="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnCommon" minOccurs="0" />
            <xsd:element name="AbnormalityOnPvp" type="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnPvp" minOccurs="0" />
            <xsd:element name="HpDiff" type="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_HpDiff" />
            <xsd:element name="MpDiff" type="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_MpDiff" />
        </xsd:sequence>
        <xsd:attribute name="atk" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnCommon">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnPvp">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_HpDiff">
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Projectile_TargetingList_Targeting_AreaList_Area_Effect_MpDiff">
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Property">
        <xsd:sequence>
            <xsd:element name="Direction" type="SkillData_Skill_Property_Direction" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="defence" type="xsd:boolean" />
        <xsd:attribute name="reactionPendingType" type="xsd:string" />
        <xsd:attribute name="skillPendingType" type="xsd:string" />
        <xsd:attribute name="stuckTimeAfterUseSkill" type="xsd:float" />
        <xsd:attribute name="useArcaneGaugeFullToggle" type="xsd:boolean" />
        <xsd:attribute name="weaponStatus" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Property_Direction">
        <xsd:attribute name="toCenterWhenNoMove" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_Pulling">
        <xsd:attribute name="attachBone" type="xsd:string" />
        <xsd:attribute name="maxHeight" type="xsd:float" use="required" />
        <xsd:attribute name="maxHeightRate" type="xsd:float" use="required" />
        <xsd:attribute name="minDistanceForMaxHeight" type="xsd:float" />
        <xsd:attribute name="pullEffectTime" type="xsd:float" use="required" />
        <xsd:attribute name="resource" type="xsd:string" />
        <xsd:attribute name="throwEffectTime" type="xsd:float" />
        <xsd:attribute name="weightFactor" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_ShortTel">
        <xsd:attribute name="dist" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList">
        <xsd:sequence>
            <xsd:element name="Targeting" type="SkillData_Skill_TargetingList_Targeting" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="adjustTargetingPos" type="xsd:string" />
        <xsd:attribute name="customAddScale" type="xsd:float" />
        <xsd:attribute name="shakeTargetValue" type="xsd:string" />
        <xsd:attribute name="showHitRange" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting">
        <xsd:sequence>
            <xsd:element name="AreaList" type="SkillData_Skill_TargetingList_Targeting_AreaList" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="Cost" type="SkillData_Skill_TargetingList_Targeting_Cost" minOccurs="0" />
            <xsd:element name="ProjectileSkillList" type="SkillData_Skill_TargetingList_Targeting_ProjectileSkillList" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="endTime" type="xsd:int" />
        <xsd:attribute name="id" type="xsd:int" />
        <xsd:attribute name="interval" type="xsd:int" />
        <xsd:attribute name="method" type="xsd:string" />
        <xsd:attribute name="startTime" type="xsd:int" />
        <xsd:attribute name="time" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" />
        <xsd:attribute name="until" type="xsd:int" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList">
        <xsd:sequence>
            <xsd:element name="Area" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area">
        <xsd:sequence>
            <xsd:element name="Effect" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect" />
            <xsd:element name="HitEffect" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_HitEffect" minOccurs="0" />
            <xsd:element name="Reaction" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Reaction" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="crosshairRadius" type="xsd:float" />
        <xsd:attribute name="crosshairRadius2" type="xsd:float" />
        <xsd:attribute name="maxCount" type="xsd:int" use="required" />
        <xsd:attribute name="maxHeight" type="xsd:float" use="required" />
        <xsd:attribute name="maxRadius" type="xsd:float" use="required" />
        <xsd:attribute name="minHeight" type="xsd:float" use="required" />
        <xsd:attribute name="minRadius" type="xsd:float" use="required" />
        <xsd:attribute name="offsetAngle" type="xsd:float" use="required" />
        <xsd:attribute name="offsetDistance" type="xsd:float" use="required" />
        <xsd:attribute name="pierceDepth" type="xsd:int" />
        <xsd:attribute name="rangeAngle" type="xsd:float" use="required" />
        <xsd:attribute name="rotateAngle" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect">
        <xsd:sequence>
            <xsd:element name="AbnormalityOnCommon" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnCommon" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AbnormalityOnPvp" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnPvp" minOccurs="0" />
            <xsd:element name="HpDiff" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_HpDiff" minOccurs="0" />
            <xsd:element name="MpDiff" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_MpDiff" minOccurs="0" />
            <xsd:element name="ResetDungeon" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_ResetDungeon" minOccurs="0" />
            <xsd:element name="Teleport" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_Teleport" minOccurs="0" />
            <xsd:element name="ToggleServant" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_ToggleServant" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="abnormalityRate" type="xsd:float" />
        <xsd:attribute name="atk" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnCommon">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_AbnormalityOnPvp">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_HpDiff">
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_MpDiff">
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_ResetDungeon">
        <xsd:attribute name="continentList" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_Teleport">
        <xsd:attribute name="recallContinent" type="xsd:int" />
        <xsd:attribute name="recallPos" type="xsd:string" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Effect_ToggleServant">
        <xsd:attribute name="servantTemplateId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_HitEffect">
        <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Reaction">
        <xsd:sequence>
            <xsd:element name="DynamicReaction" type="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Reaction_DynamicReaction" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="basicRate" type="xsd:float" use="required" />
        <xsd:attribute name="miniRate" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_AreaList_Area_Reaction_DynamicReaction">
        <xsd:attribute name="reactionAccel" type="xsd:float" use="required" />
        <xsd:attribute name="reactionEndSpeed" type="xsd:float" use="required" />
        <xsd:attribute name="reactionSpeed" type="xsd:float" use="required" />
        <xsd:attribute name="useInterpolation" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_Cost">
        <xsd:attribute name="hp" type="xsd:int" />
        <xsd:attribute name="mp" type="xsd:int" />
        <xsd:attribute name="st" type="xsd:int" />
        <xsd:attribute name="stRate" type="xsd:float" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_ProjectileSkillList">
        <xsd:sequence>
            <xsd:element name="ProjectileSkill" type="SkillData_Skill_TargetingList_Targeting_ProjectileSkillList_ProjectileSkill" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_TargetingList_Targeting_ProjectileSkillList_ProjectileSkill">
        <xsd:attribute name="detachAngle" type="xsd:float" use="required" />
        <xsd:attribute name="detachDistance" type="xsd:string" use="required" />
        <xsd:attribute name="detachHeight" type="xsd:string" use="required" />
        <xsd:attribute name="flyingDistance" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="shootAngle" type="xsd:float" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_UserProjectileCurveMove">
        <xsd:attribute name="angle" type="xsd:float" />
        <xsd:attribute name="controllerPointHeightOffsetA" type="xsd:float" use="required" />
        <xsd:attribute name="controllerPointHeightOffsetB" type="xsd:float" use="required" />
        <xsd:attribute name="controllerPointLocRateA" type="xsd:float" use="required" />
        <xsd:attribute name="controllerPointLocRateB" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="SkillData_Skill_WeaponIK">
        <xsd:attribute name="endTime" type="xsd:float" use="required" />
        <xsd:attribute name="startTime" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="SkillData" type="SkillData" />
</xsd:schema>
