DataCenter_Final_RUS/MainMenu/MainMenu.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/MainMenu" targetNamespace="https://vezel.dev/novadrop/dc/MainMenu" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="MainMenu">
        <xsd:sequence>
            <xsd:element name="AdditionalIcon" type="MainMenu_AdditionalIcon" />
            <xsd:element name="Menu" type="MainMenu_Menu" maxOccurs="unbounded" />
            <xsd:element name="MenuTag" type="MainMenu_MenuTag" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MainMenu_AdditionalIcon">
        <xsd:attribute name="bfMatching" type="xsd:string" use="required" />
        <xsd:attribute name="dungeonMatching" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="MainMenu_Menu">
        <xsd:sequence>
            <xsd:element name="MenuItem" type="MainMenu_Menu_MenuItem" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="conditionLevel" type="xsd:int" />
        <xsd:attribute name="hide" type="xsd:boolean" />
        <xsd:attribute name="iconPath" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:attribute name="index" type="xsd:int" use="required" />
        <xsd:attribute name="readableId" type="xsd:string" use="required" />
        <xsd:attribute name="uiName" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="MainMenu_Menu_MenuItem">
        <xsd:sequence>
            <xsd:element name="SubMenu" type="MainMenu_Menu_MenuItem_SubMenu" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:attribute name="readableId" type="xsd:string" use="required" />
        <xsd:attribute name="uiName" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="MainMenu_Menu_MenuItem_SubMenu">
        <xsd:sequence>
            <xsd:element name="SubMenuItem" type="MainMenu_Menu_MenuItem_SubMenu_SubMenuItem" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MainMenu_Menu_MenuItem_SubMenu_SubMenuItem">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:attribute name="readableId" type="xsd:string" use="required" />
        <xsd:attribute name="uiName" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="MainMenu_MenuTag">
        <xsd:attribute name="matching" type="xsd:string" use="required" />
        <xsd:attribute name="new" type="xsd:string" use="required" />
        <xsd:attribute name="recruit" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="MainMenu" type="MainMenu" />
</xsd:schema>
