DataCenter_Final_USA/UserShaderData/UserShaderData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/UserShaderData" targetNamespace="https://vezel.dev/novadrop/dc/UserShaderData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="UserShaderData">
        <xsd:sequence>
            <xsd:element name="Shader" type="UserShaderData_Shader" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UserShaderData_Shader">
        <xsd:sequence>
            <xsd:element name="Option" type="UserShaderData_Shader_Option" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="blendIn" type="xsd:float" use="required" />
        <xsd:attribute name="blendOut" type="xsd:float" use="required" />
        <xsd:attribute name="condition" type="xsd:string" use="required" />
        <xsd:attribute name="default" type="xsd:string" use="required" />
        <xsd:attribute name="hair" type="xsd:string" use="required" />
        <xsd:attribute name="head" type="xsd:string" use="required" />
        <xsd:attribute name="trans" type="xsd:string" use="required" />
        <xsd:attribute name="weaponShader1" type="xsd:string" use="required" />
        <xsd:attribute name="weaponShader2" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UserShaderData_Shader_Option">
        <xsd:attribute name="enchantEffect" type="xsd:boolean" use="required" />
        <xsd:attribute name="namePlate" type="xsd:boolean" use="required" />
        <xsd:attribute name="shadow" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:element name="UserShaderData" type="UserShaderData" />
</xsd:schema>
