DataCenter_Final_RUS/SkillGetConList/SkillGetConList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/SkillGetConList" targetNamespace="https://vezel.dev/novadrop/dc/SkillGetConList" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="SkillGetConList">
        <xsd:sequence>
            <xsd:element name="SkillList" type="SkillGetConList_SkillList" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkillGetConList_SkillList">
        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="cost" type="xsd:int" use="required" />
        <xsd:attribute name="gender" type="xsd:string" use="required" />
        <xsd:attribute name="isActive" type="xsd:boolean" use="required" />
        <xsd:attribute name="learnType" type="xsd:string" use="required" />
        <xsd:attribute name="level" type="xsd:int" use="required" />
        <xsd:attribute name="prerequisiteActiveSkills" type="xsd:string" use="required" />
        <xsd:attribute name="prerequisitePassiveSkills" type="xsd:string" use="required" />
        <xsd:attribute name="prevSkillId" type="xsd:int" use="required" />
        <xsd:attribute name="prevSkillOverride" type="xsd:boolean" use="required" />
        <xsd:attribute name="race" type="xsd:string" use="required" />
        <xsd:attribute name="skillId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="SkillGetConList" type="SkillGetConList" />
</xsd:schema>
