DataCenter_Final_USA/WorkObjectTerritory/WorkObjectTerritory.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/WorkObjectTerritory" targetNamespace="https://vezel.dev/novadrop/dc/WorkObjectTerritory" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="WorkObjectTerritory">
        <xsd:sequence>
            <xsd:element name="WorkObject" type="WorkObjectTerritory_WorkObject" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorkObjectTerritory_WorkObject">
        <xsd:attribute name="desc" type="xsd:string" />
    </xsd:complexType>
    <xsd:element name="WorkObjectTerritory" type="WorkObjectTerritory" />
</xsd:schema>
