DataCenter_Final_USA/LobbyPCSelection/LobbyPCSelection.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/LobbyPCSelection" targetNamespace="https://vezel.dev/novadrop/dc/LobbyPCSelection" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="LobbyPCSelection">
        <xsd:sequence>
            <xsd:element name="DeletionEffect" type="LobbyPCSelection_DeletionEffect" />
            <xsd:element name="LobbyPCList" type="LobbyPCSelection_LobbyPCList" />
            <xsd:element name="NormalEffect" type="LobbyPCSelection_NormalEffect" />
            <xsd:element name="PCSlot" type="LobbyPCSelection_PCSlot" />
            <xsd:element name="SelectionEffect" type="LobbyPCSelection_SelectionEffect" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyPCSelection_DeletionEffect">
        <xsd:attribute name="nameColor" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyPCSelection_LobbyPCList">
        <xsd:sequence>
            <xsd:element name="LobbyPC" type="LobbyPCSelection_LobbyPCList_LobbyPC" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyPCSelection_LobbyPCList_LobbyPC">
        <xsd:attribute name="animSet" type="xsd:string" use="required" />
        <xsd:attribute name="animSetShare" type="xsd:string" use="required" />
        <xsd:attribute name="randomPriority" type="xsd:string" use="required" />
        <xsd:attribute name="randomSequences" type="xsd:string" use="required" />
        <xsd:attribute name="randomStartFrom" type="xsd:float" use="required" />
        <xsd:attribute name="randomStartTo" type="xsd:float" use="required" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyPCSelection_NormalEffect">
        <xsd:attribute name="nameColor" type="xsd:string" use="required" />
        <xsd:attribute name="restBonusNameColor" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyPCSelection_PCSlot">
        <xsd:sequence>
            <xsd:element name="Slot" type="LobbyPCSelection_PCSlot_Slot" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="overlayColor" type="xsd:string" use="required" />
        <xsd:attribute name="overlayDuration" type="xsd:float" use="required" />
        <xsd:attribute name="overlayPower" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyPCSelection_PCSlot_Slot">
        <xsd:attribute name="dir" type="xsd:float" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="pos" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyPCSelection_SelectionEffect">
        <xsd:attribute name="effectId" type="xsd:int" use="required" />
        <xsd:attribute name="nameColor" type="xsd:string" use="required" />
        <xsd:attribute name="restBonusNameColor" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="LobbyPCSelection" type="LobbyPCSelection" />
</xsd:schema>
