DataCenter_Final_RUS/AgitData/AgitData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/AgitData" targetNamespace="https://vezel.dev/novadrop/dc/AgitData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="AgitData">
        <xsd:sequence>
            <xsd:element name="AgitSite" type="AgitData_AgitSite" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AgitData_AgitSite">
        <xsd:sequence>
            <xsd:element name="Agit" type="AgitData_AgitSite_Agit" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="AgitData_AgitSite_Agit">
        <xsd:sequence>
            <xsd:element name="ShownLocation" type="AgitData_AgitSite_Agit_ShownLocation" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="AgitData_AgitSite_Agit_ShownLocation">
        <xsd:attribute name="continent" type="xsd:int" use="required" />
        <xsd:attribute name="pos" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="AgitData" type="AgitData" />
</xsd:schema>
