DataCenter_Final_RUS/GuildCompetition/GuildCompetition.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/GuildCompetition" targetNamespace="https://vezel.dev/novadrop/dc/GuildCompetition" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="GuildCompetition">
        <xsd:sequence>
            <xsd:element name="CompetitionInfoList" type="GuildCompetition_CompetitionInfoList" />
            <xsd:element name="ContentsInfoList" type="GuildCompetition_ContentsInfoList" />
            <xsd:element name="LeagueInfoList" type="GuildCompetition_LeagueInfoList" />
            <xsd:element name="RankGradeSetList" type="GuildCompetition_RankGradeSetList" />
            <xsd:element name="SeasonReward" type="GuildCompetition_SeasonReward" />
        </xsd:sequence>
        <xsd:attribute name="seasonPeriod" type="xsd:int" use="required" />
        <xsd:attribute name="seasonRenewPeriod" type="xsd:int" use="required" />
        <xsd:attribute name="seasonRenewTime" type="xsd:int" use="required" />
        <xsd:attribute name="seasonResetTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList">
        <xsd:sequence>
            <xsd:element name="CompetitionInfo" type="GuildCompetition_CompetitionInfoList_CompetitionInfo" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo">
        <xsd:sequence>
            <xsd:element name="BonusPointList" type="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList" />
            <xsd:element name="LeagueList" type="GuildCompetition_CompetitionInfoList_CompetitionInfo_LeagueList" />
        </xsd:sequence>
        <xsd:attribute name="index" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList">
        <xsd:sequence>
            <xsd:element name="Contents" type="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList_Contents" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList_Contents">
        <xsd:sequence>
            <xsd:element name="ContentsRewardData" type="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList_Contents_ContentsRewardData" minOccurs="0" />
            <xsd:element name="Quest" type="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList_Contents_Quest" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="contentInfoId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList_Contents_ContentsRewardData">
        <xsd:attribute name="loseRewardPoint" type="xsd:int" use="required" />
        <xsd:attribute name="winRewardPoint" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo_BonusPointList_Contents_Quest">
        <xsd:attribute name="competitionPoint" type="xsd:int" use="required" />
        <xsd:attribute name="questId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo_LeagueList">
        <xsd:sequence>
            <xsd:element name="League" type="GuildCompetition_CompetitionInfoList_CompetitionInfo_LeagueList_League" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo_LeagueList_League">
        <xsd:sequence>
            <xsd:element name="LeagueContents" type="GuildCompetition_CompetitionInfoList_CompetitionInfo_LeagueList_League_LeagueContents" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="leagueId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_CompetitionInfoList_CompetitionInfo_LeagueList_League_LeagueContents">
        <xsd:attribute name="contentInfoId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_ContentsInfoList">
        <xsd:sequence>
            <xsd:element name="ContentInfo" type="GuildCompetition_ContentsInfoList_ContentInfo" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_ContentsInfoList_ContentInfo">
        <xsd:attribute name="classCompetition" type="xsd:boolean" />
        <xsd:attribute name="competitionType" type="xsd:string" />
        <xsd:attribute name="contentInfoId" type="xsd:int" use="required" />
        <xsd:attribute name="continentId" type="xsd:int" />
        <xsd:attribute name="desc" type="xsd:string" use="required" />
        <xsd:attribute name="formatId" type="xsd:int" use="required" />
        <xsd:attribute name="infoStringId" type="xsd:int" />
        <xsd:attribute name="rankGradeSetId" type="xsd:int" use="required" />
        <xsd:attribute name="rankingBoardMaxShowRank" type="xsd:int" use="required" />
        <xsd:attribute name="stringId" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_LeagueInfoList">
        <xsd:sequence>
            <xsd:element name="LeagueInfo" type="GuildCompetition_LeagueInfoList_LeagueInfo" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_LeagueInfoList_LeagueInfo">
        <xsd:attribute name="leagueId" type="xsd:int" use="required" />
        <xsd:attribute name="stringId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_RankGradeSetList">
        <xsd:sequence>
            <xsd:element name="RankGradeSet" type="GuildCompetition_RankGradeSetList_RankGradeSet" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_RankGradeSetList_RankGradeSet">
        <xsd:sequence>
            <xsd:element name="RankGrade" type="GuildCompetition_RankGradeSetList_RankGradeSet_RankGrade" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_RankGradeSetList_RankGradeSet_RankGrade">
        <xsd:attribute name="competitionPoint" type="xsd:int" use="required" />
        <xsd:attribute name="grade" type="xsd:int" use="required" />
        <xsd:attribute name="rankGradeLimit" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_SeasonReward">
        <xsd:sequence>
            <xsd:element name="Flag" type="GuildCompetition_SeasonReward_Flag" />
            <xsd:element name="RewardList" type="GuildCompetition_SeasonReward_RewardList" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_SeasonReward_Flag">
        <xsd:attribute name="defaultFlagRes" type="xsd:string" use="required" />
        <xsd:attribute name="defaultSpecularMap" type="xsd:string" use="required" />
        <xsd:attribute name="materialInstanceConstant" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_SeasonReward_RewardList">
        <xsd:sequence>
            <xsd:element name="Reward" type="GuildCompetition_SeasonReward_RewardList_Reward" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="leagueId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildCompetition_SeasonReward_RewardList_Reward">
        <xsd:attribute name="flagActorGroupName" type="xsd:string" use="required" />
        <xsd:attribute name="floatingCastleId" type="xsd:int" use="required" />
        <xsd:attribute name="rank" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="GuildCompetition" type="GuildCompetition" />
</xsd:schema>
