DataCenter_Final_GER/TokenExchangeSystem/TokenExchangeSystem.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/TokenExchangeSystem" targetNamespace="https://vezel.dev/novadrop/dc/TokenExchangeSystem" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="TokenExchangeSystem">
        <xsd:sequence>
            <xsd:element name="TokenExchange" type="TokenExchangeSystem_TokenExchange" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TokenExchangeSystem_TokenExchange">
        <xsd:sequence>
            <xsd:element name="AcquireItems" type="TokenExchangeSystem_TokenExchange_AcquireItems" />
            <xsd:element name="TokenItems" type="TokenExchangeSystem_TokenExchange_TokenItems" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="TokenExchangeSystem_TokenExchange_AcquireItems">
        <xsd:sequence>
            <xsd:element name="AcquireItem" type="TokenExchangeSystem_TokenExchange_AcquireItems_AcquireItem" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TokenExchangeSystem_TokenExchange_AcquireItems_AcquireItem" />
    <xsd:complexType name="TokenExchangeSystem_TokenExchange_TokenItems">
        <xsd:sequence>
            <xsd:element name="TokenItem" type="TokenExchangeSystem_TokenExchange_TokenItems_TokenItem" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TokenExchangeSystem_TokenExchange_TokenItems_TokenItem">
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="TokenExchangeSystem" type="TokenExchangeSystem" />
</xsd:schema>
