DataCenter_Final_FRA/CompetitonFormat/CompetitonFormat.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/CompetitonFormat" targetNamespace="https://vezel.dev/novadrop/dc/CompetitonFormat" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="CompetitonFormat">
        <xsd:sequence>
            <xsd:element name="Format" type="CompetitonFormat_Format" maxOccurs="unbounded" />
            <xsd:element name="LeaguePageInfo" type="CompetitonFormat_LeaguePageInfo" maxOccurs="unbounded" />
            <xsd:element name="MainPageInfo" type="CompetitonFormat_MainPageInfo" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CompetitonFormat_Format">
        <xsd:sequence>
            <xsd:element name="Column" type="CompetitonFormat_Format_Column" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="bPrevSeason" type="xsd:boolean" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="needPageInfo" type="xsd:boolean" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="CompetitonFormat_Format_Column">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="size" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="CompetitonFormat_LeaguePageInfo">
        <xsd:attribute name="bButton" type="xsd:boolean" use="required" />
        <xsd:attribute name="bCheck" type="xsd:boolean" use="required" />
        <xsd:attribute name="dateStr" type="xsd:int" use="required" />
        <xsd:attribute name="infoStringId" type="xsd:int" use="required" />
        <xsd:attribute name="leagueId" type="xsd:int" use="required" />
        <xsd:attribute name="title" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="CompetitonFormat_MainPageInfo">
        <xsd:attribute name="infoStringId" type="xsd:int" use="required" />
        <xsd:attribute name="tipStringId" type="xsd:int" use="required" />
        <xsd:attribute name="titleId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="CompetitonFormat" type="CompetitonFormat" />
</xsd:schema>
