DataCenter_Final_FRA/ArtisanConfig/ArtisanConfig.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/ArtisanConfig" targetNamespace="https://vezel.dev/novadrop/dc/ArtisanConfig" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="ArtisanConfig">
        <xsd:sequence>
            <xsd:element name="ArtisanAdditiveItem" type="ArtisanConfig_ArtisanAdditiveItem" />
            <xsd:element name="ArtisanString" type="ArtisanConfig_ArtisanString" />
            <xsd:element name="EnchantScroll" type="ArtisanConfig_EnchantScroll" />
            <xsd:element name="ItemExtractConfig" type="ArtisanConfig_ItemExtractConfig" />
            <xsd:element name="ItemProduceConfig" type="ArtisanConfig_ItemProduceConfig" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ArtisanAdditiveItem">
        <xsd:sequence>
            <xsd:element name="ItemTemplate" type="ArtisanConfig_ArtisanAdditiveItem_ItemTemplate" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ArtisanAdditiveItem_ItemTemplate">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="recipeGrade" type="xsd:string" use="required" />
        <xsd:attribute name="value" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ArtisanString">
        <xsd:sequence>
            <xsd:element name="SuccessPopup" type="ArtisanConfig_ArtisanString_SuccessPopup" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="masterStringId" type="xsd:int" use="required" />
        <xsd:attribute name="normalStringId" type="xsd:int" use="required" />
        <xsd:attribute name="veteranStringId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ArtisanString_SuccessPopup">
        <xsd:attribute name="grade" type="xsd:string" use="required" />
        <xsd:attribute name="gradeStrColor" type="xsd:string" use="required" />
        <xsd:attribute name="gradeStrSize" type="xsd:int" use="required" />
        <xsd:attribute name="msgId" type="xsd:int" use="required" />
        <xsd:attribute name="nameStrColor" type="xsd:string" use="required" />
        <xsd:attribute name="nameStrSize" type="xsd:int" use="required" />
        <xsd:attribute name="titleId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_EnchantScroll">
        <xsd:attribute name="successDelayTime" type="xsd:float" use="required" />
        <xsd:attribute name="successSoundId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ItemExtractConfig">
        <xsd:sequence>
            <xsd:element name="ProduceSkill" type="ArtisanConfig_ItemExtractConfig_ProduceSkill" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ItemExtractConfig_ProduceSkill">
        <xsd:attribute name="iconPackageName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ItemProduceConfig">
        <xsd:sequence>
            <xsd:element name="ProduceSkill" type="ArtisanConfig_ItemProduceConfig_ProduceSkill" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="masterSkillProf" type="xsd:float" use="required" />
        <xsd:attribute name="maxSkillProf" type="xsd:float" use="required" />
        <xsd:attribute name="veteranSkillProf" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ArtisanConfig_ItemProduceConfig_ProduceSkill">
        <xsd:attribute name="iconPackageName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="masterCatetory" type="xsd:int" use="required" />
        <xsd:attribute name="masterEmblemIcon" type="xsd:string" />
        <xsd:attribute name="normalCatetory" type="xsd:int" use="required" />
        <xsd:attribute name="union" type="xsd:string" use="required" />
        <xsd:attribute name="veteranCatetory" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="ArtisanConfig" type="ArtisanConfig" />
</xsd:schema>
