DataCenter_Final_FRA/EquipmentData/EquipmentData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/EquipmentData" targetNamespace="https://vezel.dev/novadrop/dc/EquipmentData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="EquipmentData">
        <xsd:sequence>
            <xsd:element name="Equipment" type="EquipmentData_Equipment" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EquipmentData_Equipment" dc:keys="equipmentId">
        <xsd:attribute name="balance" type="xsd:string" use="required" />
        <xsd:attribute name="countOfSlot" type="xsd:int" use="required" />
        <xsd:attribute name="def" type="xsd:int" use="required" />
        <xsd:attribute name="equipmentId" type="xsd:int" use="required" />
        <xsd:attribute name="impact" type="xsd:string" use="required" />
        <xsd:attribute name="maxAtk" type="xsd:int" use="required" />
        <xsd:attribute name="minAtk" type="xsd:int" use="required" />
        <xsd:attribute name="part" type="xsd:string" />
        <xsd:attribute name="passivityLinkG" type="xsd:int" />
    </xsd:complexType>
    <xsd:element name="EquipmentData" type="EquipmentData" />
</xsd:schema>
