DataCenter_Final_RUS/WorldData/WorldData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/WorldData" targetNamespace="https://vezel.dev/novadrop/dc/WorldData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="WorldData">
        <xsd:sequence>
            <xsd:element name="AbnormalityEffectType" type="WorldData_AbnormalityEffectType" />
            <xsd:element name="ActionKey" type="WorldData_ActionKey" />
            <xsd:element name="AutoLogout" type="WorldData_AutoLogout" />
            <xsd:element name="ChangeColor" type="WorldData_ChangeColor" />
            <xsd:element name="ChangeLook" type="WorldData_ChangeLook" />
            <xsd:element name="ChapterHouse" type="WorldData_ChapterHouse" />
            <xsd:element name="ChatBanTime" type="WorldData_ChatBanTime" />
            <xsd:element name="ChatConfig" type="WorldData_ChatConfig" />
            <xsd:element name="ClientLeaveWorld" type="WorldData_ClientLeaveWorld" />
            <xsd:element name="CollisionRule" type="WorldData_CollisionRule" />
            <xsd:element name="CreateGuild" type="WorldData_CreateGuild" />
            <xsd:element name="CriticalSoundConfig" type="WorldData_CriticalSoundConfig" />
            <xsd:element name="Dungeon" type="WorldData_Dungeon" />
            <xsd:element name="DungeonConfig" type="WorldData_DungeonConfig" />
            <xsd:element name="EnchantIni" type="WorldData_EnchantIni" />
            <xsd:element name="FollowConfig" type="WorldData_FollowConfig" />
            <xsd:element name="Homunculus" type="WorldData_Homunculus" />
            <xsd:element name="LinkGuide" type="WorldData_LinkGuide" />
            <xsd:element name="MiniReactionPush" type="WorldData_MiniReactionPush" />
            <xsd:element name="MoneyString" type="WorldData_MoneyString" />
            <xsd:element name="MoveConfig" type="WorldData_MoveConfig" />
            <xsd:element name="NearTown" type="WorldData_NearTown" />
            <xsd:element name="Petition" type="WorldData_Petition" />
            <xsd:element name="QuestCompensationDecrease" type="WorldData_QuestCompensationDecrease" />
            <xsd:element name="QuestDifficultyByLevelDiff" type="WorldData_QuestDifficultyByLevelDiff" />
            <xsd:element name="QuestPriority" type="WorldData_QuestPriority" />
            <xsd:element name="ReactionCancel" type="WorldData_ReactionCancel" />
            <xsd:element name="SealItem" type="WorldData_SealItem" />
            <xsd:element name="SkillConfig" type="WorldData_SkillConfig" />
            <xsd:element name="Stamina" type="WorldData_Stamina" />
            <xsd:element name="StatByLevel" type="WorldData_StatByLevel" />
            <xsd:element name="StormEffect" type="WorldData_StormEffect" />
            <xsd:element name="SwimStartDepthList" type="WorldData_SwimStartDepthList" />
            <xsd:element name="TCat" type="WorldData_TCat" />
            <xsd:element name="TradeBroker" type="WorldData_TradeBroker" />
            <xsd:element name="TutorialPlay" type="WorldData_TutorialPlay" />
            <xsd:element name="UnidentifyScroll" type="WorldData_UnidentifyScroll" />
            <xsd:element name="UserLevelLimit" type="WorldData_UserLevelLimit" />
            <xsd:element name="UserWarningHp" type="WorldData_UserWarningHp" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_AbnormalityEffectType">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="linkWeaponEnchantLevel" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ActionKey">
        <xsd:sequence>
            <xsd:element name="ActionType" type="WorldData_ActionKey_ActionType" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="rangeStep" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ActionKey_ActionType">
        <xsd:attribute name="activeRange" type="xsd:float" use="required" />
        <xsd:attribute name="interactionDist" type="xsd:float" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="priority" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_AutoLogout">
        <xsd:attribute name="autoLogoutTimeInLobby" type="xsd:int" use="required" />
        <xsd:attribute name="autoLogoutTimeInWorld" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ChangeColor">
        <xsd:attribute name="progressTime" type="xsd:float" use="required" />
        <xsd:attribute name="socialOnFail" type="xsd:int" use="required" />
        <xsd:attribute name="socialOnProgress" type="xsd:int" use="required" />
        <xsd:attribute name="socialOnSuccess" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ChangeLook">
        <xsd:attribute name="progressTime" type="xsd:int" use="required" />
        <xsd:attribute name="socialOnFail" type="xsd:int" use="required" />
        <xsd:attribute name="socialOnProgress" type="xsd:int" use="required" />
        <xsd:attribute name="socialOnSuccess" type="xsd:int" use="required" />
        <xsd:attribute name="value" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ChapterHouse">
        <xsd:attribute name="maxTabCount" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ChatBanTime">
        <xsd:sequence>
            <xsd:element name="Item" type="WorldData_ChatBanTime_Item" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_ChatBanTime_Item">
        <xsd:attribute name="seconds" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ChatConfig">
        <xsd:sequence>
            <xsd:element name="ChatSound" type="WorldData_ChatConfig_ChatSound" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_ChatConfig_ChatSound">
        <xsd:attribute name="noticeSoundId" type="xsd:int" use="required" />
        <xsd:attribute name="whisperSoundId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ClientLeaveWorld" />
    <xsd:complexType name="WorldData_CollisionRule">
        <xsd:attribute name="collideInDarkRift" type="xsd:boolean" use="required" />
        <xsd:attribute name="collideInRaid" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_CreateGuild">
        <xsd:attribute name="requiredCharLevel" type="xsd:int" use="required" />
        <xsd:attribute name="requiredMoney" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_CriticalSoundConfig">
        <xsd:sequence>
            <xsd:element name="CriticalSound" type="WorldData_CriticalSoundConfig_CriticalSound" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_CriticalSoundConfig_CriticalSound">
        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="soundCue" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_Dungeon">
        <xsd:attribute name="resetTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_DungeonConfig">
        <xsd:sequence>
            <xsd:element name="UnavailableItems" type="WorldData_DungeonConfig_UnavailableItems" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_DungeonConfig_UnavailableItems">
        <xsd:sequence>
            <xsd:element name="Item" type="WorldData_DungeonConfig_UnavailableItems_Item" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_DungeonConfig_UnavailableItems_Item">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_EnchantIni">
        <xsd:sequence>
            <xsd:element name="RareItemRevision" type="WorldData_EnchantIni_RareItemRevision" />
            <xsd:element name="ScrollItemRevision" type="WorldData_EnchantIni_ScrollItemRevision" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_EnchantIni_RareItemRevision">
        <xsd:sequence>
            <xsd:element name="Revision" type="WorldData_EnchantIni_RareItemRevision_Revision" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_EnchantIni_RareItemRevision_Revision">
        <xsd:attribute name="rareGrade" type="xsd:int" use="required" />
        <xsd:attribute name="revisionRate" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_EnchantIni_ScrollItemRevision">
        <xsd:sequence>
            <xsd:element name="Revision" type="WorldData_EnchantIni_ScrollItemRevision_Revision" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_EnchantIni_ScrollItemRevision_Revision">
        <xsd:attribute name="canAwaken" type="xsd:boolean" />
        <xsd:attribute name="grade" type="xsd:int" />
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="maxEnchantStep" type="xsd:int" use="required" />
        <xsd:attribute name="maxUseableRank" type="xsd:int" />
        <xsd:attribute name="minEnchantStep" type="xsd:int" use="required" />
        <xsd:attribute name="minUseableRank" type="xsd:int" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_FollowConfig">
        <xsd:attribute name="arriveDistanceThreshold" type="xsd:float" use="required" />
        <xsd:attribute name="giveupFollowDistanceThreshold" type="xsd:float" use="required" />
        <xsd:attribute name="maxFollowDistanceThreshold" type="xsd:float" use="required" />
        <xsd:attribute name="minFollowDistanceThreshold" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_Homunculus">
        <xsd:attribute name="promotionMemo" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_LinkGuide">
        <xsd:sequence>
            <xsd:element name="DeleteLink" type="WorldData_LinkGuide_DeleteLink" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_LinkGuide_DeleteLink">
        <xsd:attribute name="range" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_MiniReactionPush">
        <xsd:sequence>
            <xsd:element name="Target" type="WorldData_MiniReactionPush_Target" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_MiniReactionPush_Target">
        <xsd:attribute name="distance" type="xsd:float" use="required" />
        <xsd:attribute name="duration" type="xsd:int" use="required" />
        <xsd:attribute name="initAcc" type="xsd:int" use="required" />
        <xsd:attribute name="initVel" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_MoneyString">
        <xsd:sequence>
            <xsd:element name="Copper" type="WorldData_MoneyString_Copper" minOccurs="0" />
            <xsd:element name="Gold" type="WorldData_MoneyString_Gold" minOccurs="0" />
            <xsd:element name="MoneyString" type="WorldData_MoneyString" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="Silver" type="WorldData_MoneyString_Silver" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_MoneyString_Copper">
        <xsd:attribute name="end" type="xsd:string" use="required" />
        <xsd:attribute name="start" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_MoneyString_Gold">
        <xsd:attribute name="end" type="xsd:string" use="required" />
        <xsd:attribute name="start" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_MoneyString_Silver">
        <xsd:attribute name="end" type="xsd:string" use="required" />
        <xsd:attribute name="start" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_MoveConfig">
        <xsd:attribute name="airFriction" type="xsd:float" use="required" />
        <xsd:attribute name="climbingSpeed" type="xsd:float" use="required" />
        <xsd:attribute name="fallingAngle" type="xsd:float" use="required" />
        <xsd:attribute name="fallingDamageHeight" type="xsd:float" use="required" />
        <xsd:attribute name="fallingLandingMotionHeight" type="xsd:float" use="required" />
        <xsd:attribute name="fallingSpeed" type="xsd:float" use="required" />
        <xsd:attribute name="fallingStartHeight" type="xsd:float" use="required" />
        <xsd:attribute name="jumpDuration" type="xsd:int" use="required" />
        <xsd:attribute name="jumpFallingStartHeight" type="xsd:float" use="required" />
        <xsd:attribute name="jumpHeight" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_NearTown">
        <xsd:attribute name="countDownSec" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_Petition">
        <xsd:sequence>
            <xsd:element name="Terapedia" type="WorldData_Petition_Terapedia" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_Petition_Terapedia">
        <xsd:attribute name="url" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_QuestCompensationDecrease">
        <xsd:sequence>
            <xsd:element name="CompensationDecrease" type="WorldData_QuestCompensationDecrease_CompensationDecrease" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_QuestCompensationDecrease_CompensationDecrease" dc:keys="numberOver">
        <xsd:attribute name="decreaseRatio" type="xsd:float" use="required" />
        <xsd:attribute name="numberOver" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_QuestDifficultyByLevelDiff">
        <xsd:attribute name="easyMax" type="xsd:int" use="required" />
        <xsd:attribute name="hardMax" type="xsd:int" use="required" />
        <xsd:attribute name="normalMax" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_QuestPriority">
        <xsd:sequence>
            <xsd:element name="Kind" type="WorldData_QuestPriority_Kind" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_QuestPriority_Kind">
        <xsd:sequence>
            <xsd:element name="State" type="WorldData_QuestPriority_Kind_State" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="property" type="xsd:int" use="required" />
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_QuestPriority_Kind_State">
        <xsd:attribute name="icon" type="xsd:string" />
        <xsd:attribute name="marker" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="property" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_ReactionCancel">
        <xsd:attribute name="defaultCancelTime" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_SealItem">
        <xsd:attribute name="socialOnProgress" type="xsd:int" use="required" />
        <xsd:attribute name="socialOnSuccess" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_SkillConfig">
        <xsd:sequence>
            <xsd:element name="AutoToggleOffSkill" type="WorldData_SkillConfig_AutoToggleOffSkill" maxOccurs="unbounded" />
            <xsd:element name="DisableInBattleField" type="WorldData_SkillConfig_DisableInBattleField" maxOccurs="unbounded" />
            <xsd:element name="DisableInDungeon" type="WorldData_SkillConfig_DisableInDungeon" maxOccurs="unbounded" />
            <xsd:element name="DisableInLawlessArea" type="WorldData_SkillConfig_DisableInLawlessArea" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_SkillConfig_AutoToggleOffSkill">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_SkillConfig_DisableInBattleField">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_SkillConfig_DisableInDungeon">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_SkillConfig_DisableInLawlessArea">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_Stamina">
        <xsd:sequence>
            <xsd:element name="Engineer" type="WorldData_Stamina_Engineer" />
            <xsd:element name="Lancer" type="WorldData_Stamina_Lancer" />
            <xsd:element name="Warrior" type="WorldData_Stamina_Warrior" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_Stamina_Engineer" />
    <xsd:complexType name="WorldData_Stamina_Lancer" />
    <xsd:complexType name="WorldData_Stamina_Warrior" />
    <xsd:complexType name="WorldData_StatByLevel">
        <xsd:sequence>
            <xsd:element name="Stat" type="WorldData_StatByLevel_Stat" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_StatByLevel_Stat">
        <xsd:attribute name="antiReactionAdjForGrade" type="xsd:int" use="required" />
        <xsd:attribute name="expNeeded" type="xsd:string" use="required" />
        <xsd:attribute name="level" type="xsd:int" use="required" />
        <xsd:attribute name="levelupMinStatistics" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_StormEffect">
        <xsd:attribute name="distance" type="xsd:float" use="required" />
        <xsd:attribute name="downAcc" type="xsd:float" use="required" />
        <xsd:attribute name="downRotate" type="xsd:float" use="required" />
        <xsd:attribute name="downSpeed" type="xsd:float" use="required" />
        <xsd:attribute name="fluctuation" type="xsd:float" use="required" />
        <xsd:attribute name="fluctuationRate" type="xsd:float" use="required" />
        <xsd:attribute name="upAcc" type="xsd:float" use="required" />
        <xsd:attribute name="upRotate" type="xsd:float" use="required" />
        <xsd:attribute name="upSpeed" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_SwimStartDepthList">
        <xsd:sequence>
            <xsd:element name="SwimStartDepth" type="WorldData_SwimStartDepthList_SwimStartDepth" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_SwimStartDepthList_SwimStartDepth">
        <xsd:attribute name="gender" type="xsd:string" use="required" />
        <xsd:attribute name="height" type="xsd:float" use="required" />
        <xsd:attribute name="race" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_TCat">
        <xsd:attribute name="showTCatInInventory" type="xsd:boolean" use="required" />
        <xsd:attribute name="useInGameStoreCoin" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_TradeBroker">
        <xsd:attribute name="expireDays" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_TutorialPlay">
        <xsd:attribute name="activated" type="xsd:boolean" use="required" />
        <xsd:attribute name="entryMsgId" type="xsd:int" use="required" />
        <xsd:attribute name="entryMsgTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_UnidentifyScroll">
        <xsd:sequence>
            <xsd:element name="Item" type="WorldData_UnidentifyScroll_Item" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorldData_UnidentifyScroll_Item">
        <xsd:attribute name="grade" type="xsd:int" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_UserLevelLimit">
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="WorldData_UserWarningHp">
        <xsd:attribute name="percent" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:element name="WorldData" type="WorldData" />
</xsd:schema>
