DataCenter_Final_FRA/BattleChipData/BattleChipData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/BattleChipData" targetNamespace="https://vezel.dev/novadrop/dc/BattleChipData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="BattleChipData">
        <xsd:sequence>
            <xsd:element name="Restriction" type="BattleChipData_Restriction" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BattleChipData_Restriction">
        <xsd:attribute name="maxUserAccount" type="xsd:int" use="required" />
        <xsd:attribute name="minUserAccount" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="BattleChipData" type="BattleChipData" />
</xsd:schema>
