DataCenter_EUR_FINAL/StrSheet_SocialMessage/StrSheet_SocialMessage.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/StrSheet_SocialMessage" targetNamespace="https://vezel.dev/novadrop/dc/StrSheet_SocialMessage" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="StrSheet_SocialMessage">
        <xsd:sequence>
            <xsd:element name="String" type="StrSheet_SocialMessage_String" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StrSheet_SocialMessage_String">
        <xsd:attribute name="message" type="xsd:string" use="required" />
        <xsd:attribute name="socialMotionId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="StrSheet_SocialMessage" type="StrSheet_SocialMessage" />
</xsd:schema>
