DataCenter_Final_FRA/Dungeon/Dungeon.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/Dungeon" targetNamespace="https://vezel.dev/novadrop/dc/Dungeon" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="Dungeon">
        <xsd:sequence>
            <xsd:element name="ClearCondition" type="Dungeon_ClearCondition" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="continentId" type="xsd:int" use="required" />
        <xsd:attribute name="enterLimitCount" type="xsd:int" />
    </xsd:complexType>
    <xsd:complexType name="Dungeon_ClearCondition">
        <xsd:attribute name="amount" type="xsd:int" use="required" />
        <xsd:attribute name="huntingZoneId" type="xsd:int" use="required" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="Dungeon" type="Dungeon" />
</xsd:schema>
