DataCenter_Final_USA/ArtisanVillager/ArtisanVillager.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/ArtisanVillager" targetNamespace="https://vezel.dev/novadrop/dc/ArtisanVillager" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="ArtisanVillager">
        <xsd:sequence>
            <xsd:element name="Villager" type="ArtisanVillager_Villager" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArtisanVillager_Villager">
        <xsd:attribute name="id" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="ArtisanVillager" type="ArtisanVillager" />
</xsd:schema>
