DataCenter_Final_GER/InvenForPCBang/InvenForPCBang.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/InvenForPCBang" targetNamespace="https://vezel.dev/novadrop/dc/InvenForPCBang" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="InvenForPCBang">
        <xsd:sequence>
            <xsd:element name="ResetInven" type="InvenForPCBang_ResetInven" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InvenForPCBang_ResetInven">
        <xsd:sequence>
            <xsd:element name="Item" type="InvenForPCBang_ResetInven_Item" maxOccurs="unbounded" />
            <xsd:element name="UserSkill" type="InvenForPCBang_ResetInven_UserSkill" />
        </xsd:sequence>
        <xsd:attribute name="dailyResetHour" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="InvenForPCBang_ResetInven_Item">
        <xsd:attribute name="coolTimeMiliSecond" type="xsd:int" use="required" />
        <xsd:attribute name="initItemAmount" type="xsd:int" use="required" />
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="slotPos" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="InvenForPCBang_ResetInven_UserSkill">
        <xsd:attribute name="coolTimeMiliSecond" type="xsd:int" use="required" />
        <xsd:attribute name="skillTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="slotPos" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="InvenForPCBang" type="InvenForPCBang" />
</xsd:schema>
