DataCenter_Final_USA/ItemSellList/ItemSellList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/ItemSellList" targetNamespace="https://vezel.dev/novadrop/dc/ItemSellList" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="ItemSellList">
        <xsd:sequence>
            <xsd:element name="List" type="ItemSellList_List" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemSellList_List" />
    <xsd:element name="ItemSellList" type="ItemSellList" />
</xsd:schema>
