DataCenter_Final_RUS/MovieData/MovieData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/MovieData" targetNamespace="https://vezel.dev/novadrop/dc/MovieData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="MovieData">
        <xsd:sequence>
            <xsd:element name="Movie" type="MovieData_Movie" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="introMovie" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="MovieData_Movie">
        <xsd:attribute name="cannotSkip" type="xsd:boolean" />
        <xsd:attribute name="gameFadeOutTime" type="xsd:float" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isMatinee" type="xsd:boolean" use="required" />
        <xsd:attribute name="movie" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="MovieData" type="MovieData" />
</xsd:schema>
