DataCenter_Final_USA/GuildWarListFormat/GuildWarListFormat.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/GuildWarListFormat" targetNamespace="https://vezel.dev/novadrop/dc/GuildWarListFormat" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="GuildWarListFormat">
        <xsd:sequence>
            <xsd:element name="Format" type="GuildWarListFormat_Format" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GuildWarListFormat_Format">
        <xsd:sequence>
            <xsd:element name="Button" type="GuildWarListFormat_Format_Button" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="GuildWarListFormat_Format_Button">
        <xsd:attribute name="condition" type="xsd:string" />
        <xsd:attribute name="tooltipId" type="xsd:int" use="required" />
        <xsd:attribute name="uiId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="GuildWarListFormat" type="GuildWarListFormat" />
</xsd:schema>
