DataCenter_Final_RUS/NpcData/NpcData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/NpcData" targetNamespace="https://vezel.dev/novadrop/dc/NpcData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="NpcData" dc:keys="huntingZoneId">
        <xsd:sequence>
            <xsd:element name="Template" type="NpcData_Template" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="huntingZoneId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template" dc:keys="id">
        <xsd:sequence>
            <xsd:element name="AltAnimation" type="NpcData_Template_AltAnimation" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="BattleFieldOnly" type="NpcData_Template_BattleFieldOnly" minOccurs="0" />
            <xsd:element name="DeathEffect" type="NpcData_Template_DeathEffect" minOccurs="0" />
            <xsd:element name="Emoticon" type="NpcData_Template_Emoticon" minOccurs="0" />
            <xsd:element name="NamePlate" type="NpcData_Template_NamePlate" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SeatList" type="NpcData_Template_SeatList" minOccurs="0" />
            <xsd:element name="Shader" type="NpcData_Template_Shader" minOccurs="0" />
            <xsd:element name="Stat" type="NpcData_Template_Stat" />
            <xsd:element name="VehicleEx" type="NpcData_Template_VehicleEx" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="basicActionId" type="xsd:int" use="required" />
        <xsd:attribute name="cameraPenetratable" type="xsd:boolean" />
        <xsd:attribute name="cannotPassThrough" type="xsd:boolean" />
        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="collideOnMove" type="xsd:boolean" />
        <xsd:attribute name="deathShapeId" type="xsd:int" />
        <xsd:attribute name="despawnScriptId" type="xsd:int" />
        <xsd:attribute name="dontTurn" type="xsd:boolean" />
        <xsd:attribute name="elite" type="xsd:boolean" />
        <xsd:attribute name="gender" type="xsd:string" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isFreeNamed" type="xsd:boolean" />
        <xsd:attribute name="isHomunculus" type="xsd:boolean" />
        <xsd:attribute name="isIgnoreSelect" type="xsd:boolean" />
        <xsd:attribute name="isNotLocationOnFloor" type="xsd:boolean" />
        <xsd:attribute name="isObjectNpc" type="xsd:boolean" />
        <xsd:attribute name="isRepairableSpirit" type="xsd:boolean" />
        <xsd:attribute name="isSpirit" type="xsd:boolean" />
        <xsd:attribute name="isVehicleEx" type="xsd:boolean" />
        <xsd:attribute name="isWideBroadcaster" type="xsd:boolean" />
        <xsd:attribute name="parentId" type="xsd:int" />
        <xsd:attribute name="pushedByNpc" type="xsd:boolean" />
        <xsd:attribute name="race" type="xsd:string" />
        <xsd:attribute name="resourceSize" type="xsd:int" />
        <xsd:attribute name="resourceType" type="xsd:string" />
        <xsd:attribute name="scale" type="xsd:float" />
        <xsd:attribute name="shapeId" type="xsd:int" use="required" />
        <xsd:attribute name="showAggroTarget" type="xsd:boolean" />
        <xsd:attribute name="showMapIconId" type="xsd:int" />
        <xsd:attribute name="showShorttermTarget" type="xsd:boolean" />
        <xsd:attribute name="showTargetInfo" type="xsd:boolean" />
        <xsd:attribute name="size" type="xsd:string" use="required" />
        <xsd:attribute name="spawnScriptId" type="xsd:int" />
        <xsd:attribute name="unionElite" type="xsd:boolean" />
        <xsd:attribute name="unionForceStone" type="xsd:boolean" />
        <xsd:attribute name="unionGuard" type="xsd:boolean" />
        <xsd:attribute name="unionId" type="xsd:int" />
        <xsd:attribute name="villager" type="xsd:boolean" />
        <xsd:attribute name="villagerVolumeActiveRange" type="xsd:float" />
        <xsd:attribute name="villagerVolumeHalfHeight" type="xsd:float" />
        <xsd:attribute name="villagerVolumeInteractionDist" type="xsd:float" />
        <xsd:attribute name="villagerVolumeOffset" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_AltAnimation">
        <xsd:sequence>
            <xsd:element name="AltAnim" type="NpcData_Template_AltAnimation_AltAnim" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_AltAnimation_AltAnim">
        <xsd:attribute name="altAnimName" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_BattleFieldOnly">
        <xsd:attribute name="abnormalId" type="xsd:int" />
        <xsd:attribute name="addPoint" type="xsd:int" use="required" />
        <xsd:attribute name="applyTarget" type="xsd:string" />
        <xsd:attribute name="bossMarker" type="xsd:boolean" />
        <xsd:attribute name="isLastHit" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_DeathEffect">
        <xsd:attribute name="override" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_Emoticon">
        <xsd:attribute name="forceHidden" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_NamePlate">
        <xsd:attribute name="deathNameplateHeight" type="xsd:int" />
        <xsd:attribute name="nameplateHeight" type="xsd:int" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_SeatList">
        <xsd:sequence>
            <xsd:element name="Seat" type="NpcData_Template_SeatList_Seat" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_SeatList_Seat">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_Shader">
        <xsd:attribute name="override" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_Stat">
        <xsd:attribute name="level" type="xsd:int" use="required" />
        <xsd:attribute name="maxHp" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="NpcData_Template_VehicleEx">
        <xsd:attribute name="battleType" type="xsd:string" use="required" />
        <xsd:attribute name="enemyTeamEffectId" type="xsd:string" />
        <xsd:attribute name="firstTaskId" type="xsd:int" />
        <xsd:attribute name="fixable" type="xsd:boolean" />
        <xsd:attribute name="gravity" type="xsd:float" />
        <xsd:attribute name="headToCameraDir" type="xsd:boolean" />
        <xsd:attribute name="isForQuestId" type="xsd:int" />
        <xsd:attribute name="kind" type="xsd:string" use="required" />
        <xsd:attribute name="lastTaskId" type="xsd:int" />
        <xsd:attribute name="moveType" type="xsd:string" use="required" />
        <xsd:attribute name="oneUserRepairPerSec" type="xsd:int" />
        <xsd:attribute name="ourTeamEffectId" type="xsd:string" />
        <xsd:attribute name="repairGage" type="xsd:int" />
        <xsd:attribute name="repairTryLimitUser" type="xsd:int" />
    </xsd:complexType>
    <xsd:element name="NpcData" type="NpcData" />
</xsd:schema>
