DataCenter_Final_FRA/LobbyData/LobbyData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/LobbyData" targetNamespace="https://vezel.dev/novadrop/dc/LobbyData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="LobbyData">
        <xsd:sequence>
            <xsd:element name="ClassScene" type="LobbyData_ClassScene" />
            <xsd:element name="CustomizeScene" type="LobbyData_CustomizeScene" />
            <xsd:element name="LogoScene" type="LobbyData_LogoScene" />
            <xsd:element name="RaceScene" type="LobbyData_RaceScene" />
            <xsd:element name="SelectScene" type="LobbyData_SelectScene" />
            <xsd:element name="ServerScene" type="LobbyData_ServerScene" />
            <xsd:element name="TeleportScene" type="LobbyData_TeleportScene" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyData_ClassScene">
        <xsd:sequence>
            <xsd:element name="ChangeClass" type="LobbyData_ClassScene_ChangeClass" />
            <xsd:element name="FadeIn" type="LobbyData_ClassScene_FadeIn" />
            <xsd:element name="FadeOutToCustomize" type="LobbyData_ClassScene_FadeOutToCustomize" />
        </xsd:sequence>
        <xsd:attribute name="inWeaponStart" type="xsd:float" use="required" />
        <xsd:attribute name="outWeaponStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_ClassScene_ChangeClass">
        <xsd:attribute name="fadeIn" type="xsd:float" use="required" />
        <xsd:attribute name="fadeOut" type="xsd:float" use="required" />
        <xsd:attribute name="weaponStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_ClassScene_FadeIn">
        <xsd:attribute name="fadeIn" type="xsd:float" use="required" />
        <xsd:attribute name="weaponStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_ClassScene_FadeOutToCustomize">
        <xsd:attribute name="fadeOut" type="xsd:float" use="required" />
        <xsd:attribute name="fadeOutStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_CustomizeScene">
        <xsd:sequence>
            <xsd:element name="FadeIn" type="LobbyData_CustomizeScene_FadeIn" />
            <xsd:element name="FadeOut" type="LobbyData_CustomizeScene_FadeOut" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyData_CustomizeScene_FadeIn">
        <xsd:attribute name="fadeIn" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_CustomizeScene_FadeOut">
        <xsd:attribute name="fadeOut" type="xsd:float" use="required" />
        <xsd:attribute name="fadeOutStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_LogoScene">
        <xsd:sequence>
            <xsd:element name="Background" type="LobbyData_LogoScene_Background" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyData_LogoScene_Background">
        <xsd:attribute name="image" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_RaceScene">
        <xsd:sequence>
            <xsd:element name="Background" type="LobbyData_RaceScene_Background" />
            <xsd:element name="Continent" type="LobbyData_RaceScene_Continent" />
            <xsd:element name="FadeIn" type="LobbyData_RaceScene_FadeIn" />
            <xsd:element name="FadeOut" type="LobbyData_RaceScene_FadeOut" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyData_RaceScene_Background">
        <xsd:attribute name="image" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_RaceScene_Continent">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_RaceScene_FadeIn">
        <xsd:attribute name="fadeIn" type="xsd:float" use="required" />
        <xsd:attribute name="matineeStart" type="xsd:float" use="required" />
        <xsd:attribute name="uiStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_RaceScene_FadeOut">
        <xsd:attribute name="fadeOut" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene">
        <xsd:sequence>
            <xsd:element name="Background" type="LobbyData_SelectScene_Background" />
            <xsd:element name="Continent" type="LobbyData_SelectScene_Continent" />
            <xsd:element name="FadeIn" type="LobbyData_SelectScene_FadeIn" />
            <xsd:element name="FadeOutToRace" type="LobbyData_SelectScene_FadeOutToRace" />
            <xsd:element name="FadeOutToWorld" type="LobbyData_SelectScene_FadeOutToWorld" />
            <xsd:element name="MapChange" type="LobbyData_SelectScene_MapChange" />
            <xsd:element name="Matinee" type="LobbyData_SelectScene_Matinee" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene_Background">
        <xsd:attribute name="image" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene_Continent">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene_FadeIn">
        <xsd:attribute name="fadeIn" type="xsd:float" use="required" />
        <xsd:attribute name="uiStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene_FadeOutToRace">
        <xsd:attribute name="fadeOut" type="xsd:float" use="required" />
        <xsd:attribute name="fadeOutStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene_FadeOutToWorld">
        <xsd:attribute name="fadeOut" type="xsd:float" use="required" />
        <xsd:attribute name="fadeOutStart" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene_MapChange">
        <xsd:attribute name="dayContinentId" type="xsd:int" use="required" />
        <xsd:attribute name="nightContinentId" type="xsd:int" use="required" />
        <xsd:attribute name="sunriseHour" type="xsd:int" use="required" />
        <xsd:attribute name="sunsetHour" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_SelectScene_Matinee">
        <xsd:attribute name="firstFrom" type="xsd:float" use="required" />
        <xsd:attribute name="firstTo" type="xsd:float" use="required" />
        <xsd:attribute name="from" type="xsd:float" use="required" />
        <xsd:attribute name="to" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_ServerScene">
        <xsd:sequence>
            <xsd:element name="FadeIn" type="LobbyData_ServerScene_FadeIn" />
            <xsd:element name="Gate" type="LobbyData_ServerScene_Gate" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyData_ServerScene_FadeIn">
        <xsd:attribute name="fadeIn" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_ServerScene_Gate">
        <xsd:attribute name="flowRate" type="xsd:float" use="required" />
        <xsd:attribute name="minimumShow" type="xsd:float" use="required" />
        <xsd:attribute name="occludeFadeIn" type="xsd:float" use="required" />
        <xsd:attribute name="occludeFadeOut" type="xsd:float" use="required" />
        <xsd:attribute name="occludeStart" type="xsd:float" use="required" />
        <xsd:attribute name="whiteColor" type="xsd:string" use="required" />
        <xsd:attribute name="whiteFadeIn" type="xsd:float" use="required" />
        <xsd:attribute name="whiteFadeOut" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_TeleportScene">
        <xsd:sequence>
            <xsd:element name="Background" type="LobbyData_TeleportScene_Background" maxOccurs="unbounded" />
            <xsd:element name="Fade" type="LobbyData_TeleportScene_Fade" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LobbyData_TeleportScene_Background">
        <xsd:attribute name="image" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="LobbyData_TeleportScene_Fade">
        <xsd:attribute name="fadeIn" type="xsd:float" use="required" />
        <xsd:attribute name="fadeOut" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:element name="LobbyData" type="LobbyData" />
</xsd:schema>
