DataCenter_Final_USA/SlashCommand/SlashCommand.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/SlashCommand" targetNamespace="https://vezel.dev/novadrop/dc/SlashCommand" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="SlashCommand">
        <xsd:sequence>
            <xsd:element name="Command" type="SlashCommand_Command" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SlashCommand_Command" dc:keys="id">
        <xsd:attribute name="adminOnly" type="xsd:boolean" />
        <xsd:attribute name="autofillupparam" type="xsd:boolean" />
        <xsd:attribute name="command" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="paramCount" type="xsd:int" use="required" />
        <xsd:attribute name="socialMotionId" type="xsd:int" />
        <xsd:attribute name="useInteractionMenu" type="xsd:boolean" />
    </xsd:complexType>
    <xsd:element name="SlashCommand" type="SlashCommand" />
</xsd:schema>
