DataCenter_Final_RUS/Gacha/Gacha.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/Gacha" targetNamespace="https://vezel.dev/novadrop/dc/Gacha" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="Gacha">
        <xsd:sequence>
            <xsd:element name="GachaItem" type="Gacha_GachaItem" maxOccurs="unbounded" />
            <xsd:element name="LockboxKey" type="Gacha_LockboxKey" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Gacha_GachaItem">
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="Gacha_LockboxKey">
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="lockboxTemplateId" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="Gacha" type="Gacha" />
</xsd:schema>
