DataCenter_Final_RUS/StrSheet_Union/StrSheet_Union.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/StrSheet_Union" targetNamespace="https://vezel.dev/novadrop/dc/StrSheet_Union" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="StrSheet_Union">
        <xsd:sequence>
            <xsd:element name="String" type="StrSheet_Union_String" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StrSheet_Union_String">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="string" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="StrSheet_Union" type="StrSheet_Union" />
</xsd:schema>
