DataCenter_Final_USA/FootStepSound/FootStepSound.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/FootStepSound" targetNamespace="https://vezel.dev/novadrop/dc/FootStepSound" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="FootStepSound" dc:keys="shapeId">
        <xsd:sequence>
            <xsd:element name="FootStepSound" type="FootStepSound" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="carpet" type="xsd:string" />
        <xsd:attribute name="dirt" type="xsd:string" />
        <xsd:attribute name="gold" type="xsd:string" />
        <xsd:attribute name="grass" type="xsd:string" />
        <xsd:attribute name="gravel" type="xsd:string" />
        <xsd:attribute name="inwater" type="xsd:string" />
        <xsd:attribute name="metal" type="xsd:string" />
        <xsd:attribute name="onwater" type="xsd:string" />
        <xsd:attribute name="reed" type="xsd:string" />
        <xsd:attribute name="rock" type="xsd:string" />
        <xsd:attribute name="sand" type="xsd:string" />
        <xsd:attribute name="shapeId" type="xsd:int" />
        <xsd:attribute name="snow" type="xsd:string" />
        <xsd:attribute name="swamp" type="xsd:string" />
        <xsd:attribute name="wood" type="xsd:string" />
    </xsd:complexType>
    <xsd:element name="FootStepSound" type="FootStepSound" />
</xsd:schema>
