DataCenter_Final_RUS/ReactionData/ReactionData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/ReactionData" targetNamespace="https://vezel.dev/novadrop/dc/ReactionData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="ReactionData">
        <xsd:sequence>
            <xsd:element name="Reaction" type="ReactionData_Reaction" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="isNpc" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction" dc:keys="id">
        <xsd:sequence>
            <xsd:element name="Action" type="ReactionData_Reaction_Action" />
            <xsd:element name="Property" type="ReactionData_Reaction_Property" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="parentReactionId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action">
        <xsd:sequence>
            <xsd:element name="HitCylinderList" type="ReactionData_Reaction_Action_HitCylinderList" minOccurs="0" />
            <xsd:element name="MoveCylinderList" type="ReactionData_Reaction_Action_MoveCylinderList" minOccurs="0" />
            <xsd:element name="MoveInvincible" type="ReactionData_Reaction_Action_MoveInvincible" />
            <xsd:element name="Pending" type="ReactionData_Reaction_Action_Pending" />
            <xsd:element name="StageList" type="ReactionData_Reaction_Action_StageList" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_HitCylinderList">
        <xsd:sequence>
            <xsd:element name="HitCylinder" type="ReactionData_Reaction_Action_HitCylinderList_HitCylinder" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_HitCylinderList_HitCylinder">
        <xsd:sequence>
            <xsd:element name="Cylinder" type="ReactionData_Reaction_Action_HitCylinderList_HitCylinder_Cylinder" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_HitCylinderList_HitCylinder_Cylinder">
        <xsd:attribute name="height" type="xsd:float" use="required" />
        <xsd:attribute name="locAngle" type="xsd:float" use="required" />
        <xsd:attribute name="locDistance" type="xsd:float" use="required" />
        <xsd:attribute name="locZ" type="xsd:float" use="required" />
        <xsd:attribute name="radius" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_MoveCylinderList">
        <xsd:sequence>
            <xsd:element name="MoveCylinder" type="ReactionData_Reaction_Action_MoveCylinderList_MoveCylinder" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_MoveCylinderList_MoveCylinder">
        <xsd:sequence>
            <xsd:element name="Cylinder" type="ReactionData_Reaction_Action_MoveCylinderList_MoveCylinder_Cylinder" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_MoveCylinderList_MoveCylinder_Cylinder">
        <xsd:attribute name="height" type="xsd:float" use="required" />
        <xsd:attribute name="locAngle" type="xsd:float" use="required" />
        <xsd:attribute name="locDistance" type="xsd:float" use="required" />
        <xsd:attribute name="locZ" type="xsd:float" use="required" />
        <xsd:attribute name="radius" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_MoveInvincible">
        <xsd:attribute name="endTime" type="xsd:int" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_Pending">
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_StageList">
        <xsd:sequence>
            <xsd:element name="Stage" type="ReactionData_Reaction_Action_StageList_Stage" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_StageList_Stage">
        <xsd:sequence>
            <xsd:element name="AnimSeq" type="ReactionData_Reaction_Action_StageList_Stage_AnimSeq" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Action_StageList_Stage_AnimSeq">
        <xsd:attribute name="animName" type="xsd:string" use="required" />
        <xsd:attribute name="animRate" type="xsd:float" use="required" />
        <xsd:attribute name="animSet" type="xsd:string" use="required" />
        <xsd:attribute name="bAnimLooping" type="xsd:boolean" use="required" />
        <xsd:attribute name="blendInTime" type="xsd:int" use="required" />
        <xsd:attribute name="duration" type="xsd:int" use="required" />
        <xsd:attribute name="loopingRate" type="xsd:float" use="required" />
        <xsd:attribute name="rootMotionXYRate" type="xsd:float" use="required" />
        <xsd:attribute name="rootMotionZRate" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ReactionData_Reaction_Property">
        <xsd:attribute name="weaponStatus" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:element name="ReactionData" type="ReactionData" />
</xsd:schema>
