DataCenter_Final_USA/UnionData/UnionData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/UnionData" targetNamespace="https://vezel.dev/novadrop/dc/UnionData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="UnionData">
        <xsd:sequence>
            <xsd:element name="CommanderList" type="UnionData_CommanderList" />
            <xsd:element name="ConsuleSkillInfo" type="UnionData_ConsuleSkillInfo" />
            <xsd:element name="Contribution" type="UnionData_Contribution" />
            <xsd:element name="Default" type="UnionData_Default" />
            <xsd:element name="EliteList" type="UnionData_EliteList" />
            <xsd:element name="PlayPoint" type="UnionData_PlayPoint" />
            <xsd:element name="Politics" type="UnionData_Politics" />
            <xsd:element name="Property" type="UnionData_Property" />
            <xsd:element name="Reward" type="UnionData_Reward" />
            <xsd:element name="UnionNpcSpawn" type="UnionData_UnionNpcSpawn" />
            <xsd:element name="UnionPassivityInfo" type="UnionData_UnionPassivityInfo" />
            <xsd:element name="UnionSkillInfo" type="UnionData_UnionSkillInfo" />
        </xsd:sequence>
        <xsd:attribute name="enable" type="xsd:boolean" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_CommanderList">
        <xsd:sequence>
            <xsd:element name="Commander" type="UnionData_CommanderList_Commander" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_CommanderList_Commander">
        <xsd:sequence>
            <xsd:element name="UnionSkill" type="UnionData_CommanderList_Commander_UnionSkill" />
        </xsd:sequence>
        <xsd:attribute name="descId" type="xsd:int" use="required" />
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="showDesc" type="xsd:boolean" use="required" />
        <xsd:attribute name="stringId" type="xsd:int" use="required" />
        <xsd:attribute name="subStringId" type="xsd:int" use="required" />
        <xsd:attribute name="unionClass" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_CommanderList_Commander_UnionSkill">
        <xsd:attribute name="idList" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_ConsuleSkillInfo">
        <xsd:sequence>
            <xsd:element name="PerformanceLevel" type="UnionData_ConsuleSkillInfo_PerformanceLevel" />
            <xsd:element name="RepresentSkill" type="UnionData_ConsuleSkillInfo_RepresentSkill" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_ConsuleSkillInfo_PerformanceLevel">
        <xsd:sequence>
            <xsd:element name="Skill" type="UnionData_ConsuleSkillInfo_PerformanceLevel_Skill" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_ConsuleSkillInfo_PerformanceLevel_Skill">
        <xsd:attribute name="lv" type="xsd:int" use="required" />
        <xsd:attribute name="rateEnd" type="xsd:int" use="required" />
        <xsd:attribute name="rateStart" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_ConsuleSkillInfo_RepresentSkill">
        <xsd:attribute name="buffRate" type="xsd:int" use="required" />
        <xsd:attribute name="desc" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="linkedSkillid" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="requiredPolicyPoint" type="xsd:int" use="required" />
        <xsd:attribute name="unionId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution">
        <xsd:sequence>
            <xsd:element name="Acquisition" type="UnionData_Contribution_Acquisition" />
            <xsd:element name="Level" type="UnionData_Contribution_Level" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Acquisition">
        <xsd:sequence>
            <xsd:element name="Quest" type="UnionData_Contribution_Acquisition_Quest" />
            <xsd:element name="Tax" type="UnionData_Contribution_Acquisition_Tax" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Acquisition_Quest">
        <xsd:sequence>
            <xsd:element name="Point" type="UnionData_Contribution_Acquisition_Quest_Point" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="applyRate" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Acquisition_Quest_Point">
        <xsd:attribute name="point" type="xsd:float" use="required" />
        <xsd:attribute name="questId" type="xsd:int" use="required" />
        <xsd:attribute name="rate" type="xsd:float" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Acquisition_Tax">
        <xsd:sequence>
            <xsd:element name="Taxrate" type="UnionData_Contribution_Acquisition_Tax_Taxrate" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Acquisition_Tax_Taxrate">
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Level">
        <xsd:sequence>
            <xsd:element name="GuildList" type="UnionData_Contribution_Level_GuildList" />
            <xsd:element name="PersonalList" type="UnionData_Contribution_Level_PersonalList" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Level_GuildList">
        <xsd:sequence>
            <xsd:element name="Guild" type="UnionData_Contribution_Level_GuildList_Guild" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Level_GuildList_Guild">
        <xsd:attribute name="accumulate" type="xsd:int" use="required" />
        <xsd:attribute name="level" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Level_PersonalList">
        <xsd:sequence>
            <xsd:element name="Personal" type="UnionData_Contribution_Level_PersonalList_Personal" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Contribution_Level_PersonalList_Personal">
        <xsd:attribute name="accumulate" type="xsd:int" use="required" />
        <xsd:attribute name="level" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default">
        <xsd:sequence>
            <xsd:element name="Aero" type="UnionData_Default_Aero" />
            <xsd:element name="SituationEvent" type="UnionData_Default_SituationEvent" />
            <xsd:element name="UI" type="UnionData_Default_UI" />
            <xsd:element name="UIMenu" type="UnionData_Default_UIMenu" maxOccurs="unbounded" />
            <xsd:element name="UIMinimap" type="UnionData_Default_UIMinimap" />
            <xsd:element name="Union" type="UnionData_Default_Union" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Aero">
        <xsd:sequence>
            <xsd:element name="Continent" type="UnionData_Default_Aero_Continent" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Aero_Continent">
        <xsd:attribute name="aero" type="xsd:string" use="required" />
        <xsd:attribute name="blendTime" type="xsd:float" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_SituationEvent">
        <xsd:attribute name="guardEvent" type="xsd:int" use="required" />
        <xsd:attribute name="stoneEvent" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_UI">
        <xsd:sequence>
            <xsd:element name="TaxPopup" type="UnionData_Default_UI_TaxPopup" />
        </xsd:sequence>
        <xsd:attribute name="rankIconName" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_UI_TaxPopup">
        <xsd:attribute name="coolTimeStringId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_UIMenu">
        <xsd:attribute name="menuId" type="xsd:int" use="required" />
        <xsd:attribute name="unionId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_UIMinimap">
        <xsd:attribute name="dungeonClosedStringId" type="xsd:int" use="required" />
        <xsd:attribute name="dungeonOpenedStringId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Union">
        <xsd:sequence>
            <xsd:element name="Candidate" type="UnionData_Default_Union_Candidate" />
            <xsd:element name="DismissGuild" type="UnionData_Default_Union_DismissGuild" />
            <xsd:element name="Join" type="UnionData_Default_Union_Join" />
            <xsd:element name="Leave" type="UnionData_Default_Union_Leave" />
            <xsd:element name="Tax" type="UnionData_Default_Union_Tax" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Union_Candidate">
        <xsd:attribute name="cost" type="xsd:int" use="required" />
        <xsd:attribute name="memberCount" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Union_DismissGuild">
        <xsd:attribute name="policyPointCost" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Union_Join">
        <xsd:attribute name="coolTime" type="xsd:int" use="required" />
        <xsd:attribute name="cost" type="xsd:int" use="required" />
        <xsd:attribute name="memberCount" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Union_Leave">
        <xsd:attribute name="cost" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Default_Union_Tax">
        <xsd:attribute name="maxRate" type="xsd:int" use="required" />
        <xsd:attribute name="minRate" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_EliteList">
        <xsd:sequence>
            <xsd:element name="Elite" type="UnionData_EliteList_Elite" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_EliteList_Elite">
        <xsd:sequence>
            <xsd:element name="UnionSkill" type="UnionData_EliteList_Elite_UnionSkill" />
        </xsd:sequence>
        <xsd:attribute name="descId" type="xsd:int" use="required" />
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="showDesc" type="xsd:boolean" use="required" />
        <xsd:attribute name="stringId" type="xsd:int" use="required" />
        <xsd:attribute name="subStringId" type="xsd:int" use="required" />
        <xsd:attribute name="unionElite" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_EliteList_Elite_UnionSkill">
        <xsd:attribute name="idList" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_PlayPoint">
        <xsd:sequence>
            <xsd:element name="ShowUILevel" type="UnionData_PlayPoint_ShowUILevel" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_PlayPoint_ShowUILevel">
        <xsd:sequence>
            <xsd:element name="UI" type="UnionData_PlayPoint_ShowUILevel_UI" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_PlayPoint_ShowUILevel_UI">
        <xsd:attribute name="lv" type="xsd:int" use="required" />
        <xsd:attribute name="rateEnd" type="xsd:int" use="required" />
        <xsd:attribute name="rateStart" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Politics">
        <xsd:attribute name="cost" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_Property">
        <xsd:sequence>
            <xsd:element name="Union" type="UnionData_Property_Union" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Property_Union">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="continentId" type="xsd:int" use="required" />
                <xsd:attribute name="crestName" type="xsd:string" use="required" />
                <xsd:attribute name="descStringId1" type="xsd:int" use="required" />
                <xsd:attribute name="descStringId2" type="xsd:int" use="required" />
                <xsd:attribute name="iconName" type="xsd:string" use="required" />
                <xsd:attribute name="id" type="xsd:int" use="required" />
                <xsd:attribute name="stringId" type="xsd:int" use="required" />
                <xsd:attribute name="symbolName" type="xsd:string" use="required" />
                <xsd:attribute name="uiIndex" type="xsd:int" use="required" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Reward">
        <xsd:sequence>
            <xsd:element name="UnionDungeon" type="UnionData_Reward_UnionDungeon" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Reward_UnionDungeon">
        <xsd:sequence>
            <xsd:element name="Dungeon" type="UnionData_Reward_UnionDungeon_Dungeon" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_Reward_UnionDungeon_Dungeon">
        <xsd:attribute name="lotteryHour" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_UnionNpcSpawn">
        <xsd:sequence>
            <xsd:element name="Homun" type="UnionData_UnionNpcSpawn_Homun" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_UnionNpcSpawn_Homun">
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_UnionPassivityInfo">
        <xsd:sequence>
            <xsd:element name="Union" type="UnionData_UnionPassivityInfo_Union" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_UnionPassivityInfo_Union">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="passivityId" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="UnionData_UnionSkillInfo">
        <xsd:sequence>
            <xsd:element name="Member" type="UnionData_UnionSkillInfo_Member" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnionData_UnionSkillInfo_Member">
        <xsd:attribute name="itemTemplateId" type="xsd:string" use="required" />
        <xsd:attribute name="unionClass" type="xsd:int" use="required" />
        <xsd:attribute name="unionElite" type="xsd:int" use="required" />
        <xsd:attribute name="unionId" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:element name="UnionData" type="UnionData" />
</xsd:schema>
