DataCenter_Final_GER/ServantData/ServantData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dc="https://vezel.dev/novadrop/dc" xmlns="https://vezel.dev/novadrop/dc/ServantData" targetNamespace="https://vezel.dev/novadrop/dc/ServantData" xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd" elementFormDefault="qualified">
    <xsd:complexType name="ServantData">
        <xsd:sequence>
            <xsd:element name="AbilityInfo" type="ServantData_AbilityInfo" />
            <xsd:element name="Servant" type="ServantData_Servant" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ServantData_AbilityInfo">
        <xsd:sequence>
            <xsd:element name="Collecting" type="ServantData_AbilityInfo_Collecting" />
            <xsd:element name="ItemLooting" type="ServantData_AbilityInfo_ItemLooting" />
            <xsd:element name="MoneyLooting" type="ServantData_AbilityInfo_MoneyLooting" />
            <xsd:element name="Skill" type="ServantData_AbilityInfo_Skill" />
            <xsd:element name="Social" type="ServantData_AbilityInfo_Social" />
            <xsd:element name="UserWareHouse" type="ServantData_AbilityInfo_UserWareHouse" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ServantData_AbilityInfo_Collecting">
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isSwitch" type="xsd:boolean" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_AbilityInfo_ItemLooting">
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isSwitch" type="xsd:boolean" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_AbilityInfo_MoneyLooting">
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isSwitch" type="xsd:boolean" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_AbilityInfo_Skill">
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isSwitch" type="xsd:boolean" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_AbilityInfo_Social">
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_AbilityInfo_UserWareHouse">
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_Servant">
        <xsd:sequence>
            <xsd:element name="Ability" type="ServantData_Servant_Ability" />
            <xsd:element name="Animation" type="ServantData_Servant_Animation" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="maxEnergy" type="xsd:int" use="required" />
        <xsd:attribute name="nearFrustumOffset" type="xsd:float" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_Servant_Ability">
        <xsd:sequence>
            <xsd:element name="Collecting" type="ServantData_Servant_Ability_Collecting" minOccurs="0" />
            <xsd:element name="ItemLooting" type="ServantData_Servant_Ability_ItemLooting" minOccurs="0" />
            <xsd:element name="MoneyLooting" type="ServantData_Servant_Ability_MoneyLooting" minOccurs="0" />
            <xsd:element name="Social" type="ServantData_Servant_Ability_Social" minOccurs="0" />
            <xsd:element name="UserWarehouse" type="ServantData_Servant_Ability_UserWarehouse" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ServantData_Servant_Ability_Collecting">
        <xsd:attribute name="proficiency" type="xsd:int" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_Servant_Ability_ItemLooting" />
    <xsd:complexType name="ServantData_Servant_Ability_MoneyLooting" />
    <xsd:complexType name="ServantData_Servant_Ability_Social">
        <xsd:attribute name="specialSocialMotionId" type="xsd:string" use="required" />
    </xsd:complexType>
    <xsd:complexType name="ServantData_Servant_Ability_UserWarehouse" />
    <xsd:complexType name="ServantData_Servant_Animation">
        <xsd:attribute name="itemLooting" type="xsd:string" />
        <xsd:attribute name="move" type="xsd:string" />
    </xsd:complexType>
    <xsd:element name="ServantData" type="ServantData" />
</xsd:schema>
